/* reseting basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    border-radius: 0;
    outline: none;
    text-decoration: none;
  }
  * a {
    cursor: pointer;
    text-decoration: none !important;
  }
/* page loader styles */
/* ============================ */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* loader background */
    background-color: #fff;
  }
  .loader img {
    animation: fadeOut;
    animation-fill-mode: forwards;
  
    /* animation durstion in second
    if you change this also should change in line 81 */
    animation-duration: 1s;
    
    /* loader image dimension */
    width: 300px;
    height: 300px;
  }
  
  @media only screen and (max-width: 768px) {
    .loader img {
  
      /* loader image dimension */
      width: 150px;
      height: 150px;
    }

    .group_taggline div{
      text-align: center !important;
    }

  }
  
  .loader.hidden {
    animation: vanish;
    animation-fill-mode: forwards;
    
    /* animation durstion in second
    if you change this also shuld change in line 68*/
    animation-duration: 1s;
  }
  
  /* the background animation */
  @keyframes vanish {
    75% {
      opacity: 1;
      visibility: hidden;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  /* the loader animation */
  @keyframes fadeOut {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  /* board item style */
  /* =============================== */
  
  /* styles for view all button */
  .viewa_all {
    text-align: center;
    margin-top: 50px;
  }
  .viewa_all a {
    padding: 10px 20px;
    border: 2px solid #15AFE8;
    border-radius: 10px;
    text-decoration: none;
    color: #15AFE8 !important;
    /* font-family: moon-bold; */
    transition: 0.3s;
    text-transform: capitalize;
  }
  .viewa_all a:hover {
    background-color: #15AFE8;
    color: #fff;
  }
  
  /* customizing owl carousel for navigation icon */
  /*  ================================================  */
  div.owl-nav {
    display: inline;
    font-size: 80px;
    line-height: 80px;
    height: 80px;
    width: 80px;
    font-weight: 400 !important;
  }
  
  .owl-prev,
  .owl-next {
    position: absolute;
    padding: 0 20px;
    bottom: 45%;
  }
  .owl-prev:hover,
  .owl-next:hover {
    background-color: transparent !important;
  }
  .owl-prev:focus,
  .owl-next:focus {
    outline: 0px !important;
  }
  
  .owl-prev {
    left: 5px;
  }
  
  .owl-next {
    right: 5px;
  }
  
  /* header styles start */
  /* =================================== */
  header.header {
    background-color: #fff;
    box-shadow: 0px -5px 5px 1px;
  }
  header.header nav.main_nav_container {
    display: flex;
    padding: 15px 10px;
    align-items: center;
    justify-content: space-between;
  }
  header.header nav.main_nav_container .mobile_icon,
  header.header nav.main_nav_container .mobile_nav {
    display: none;
  }
  header.header nav.main_nav_container .logo_img {
    display: inline-block;
  }
  header.header nav.main_nav_container .logo_img img {
    width: 200px;
    height: auto;
  }
  header.header nav.main_nav_container ul.desk_nav_container {
    display: inline-block;
    list-style-type: none;
    text-align: right;
    margin: 0;
  }
  header.header nav.main_nav_container ul.desk_nav_container li {
    display: inline-block;
    padding-right: 0;
    position: relative;
  }
  header.header nav.main_nav_container ul.desk_nav_container li a {
    color: #7B7474;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.3s;
    /* font-family: sans-serif; */
    text-transform: capitalize;
    font-weight: 500;
  }
  header.header nav.main_nav_container ul.desk_nav_container li a i {
    font-size: 18px;
    line-height: 20px;
    margin-left: 2.5px;
  }
  header.header nav.main_nav_container ul.desk_nav_container li a:hover {
    color: #15AFE8;
  }
  header.header nav.main_nav_container ul.desk_nav_container li a.active {
    color: #F42C4C;
  }
  header.header nav.main_nav_container ul.desk_nav_container li a.active:hover {
    color: #15AFE8;
  }
  header.header nav.main_nav_container ul.desk_nav_container li a.expanded_dropdown {
    color: #15AFE8;
  }
  header.header nav.main_nav_container ul.desk_nav_container li ul.sub_nav {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 250px;
    background-color: #fff;
    padding: 0 15px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #7B7474;
    z-index: 999;
    display: none;
  }
  header.header nav.main_nav_container ul.desk_nav_container li ul.sub_nav li {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  header.header nav.main_nav_container ul.desk_nav_container li ul.sub_nav li a {
    color: #7B7474;
    display: block;
  }
  header.header nav.main_nav_container ul.desk_nav_container li ul.sub_nav li:hover a {
    color: #15AFE8;
    text-decoration: underline;
  }
  header.header nav.main_nav_container ul.desk_nav_container li ul.expanded_dropdown {
    display: block;
  }
  
  /* header responsive styles */
  /* ================================ */



  @media only screen and (max-width: 991px) {
    header.header {
      height: 75px;
      display: flex;
      align-items: center;
    }
			.dot1{
				left:34px!important;
			}
    header.header nav.main_nav_container .mobile_icon {
      display: inline-block;
      color: #fff;
      width: 200px;
      height: 25px;
      line-height: 30px;
      text-align: left;
    }
    header.header nav.main_nav_container .mobile_icon a {
      height: 25px;
      width: 25px;
      display: inline-block;
      position: relative;
      cursor: pointer;
    }
    header.header nav.main_nav_container .mobile_icon a span {
      display: block;
      margin: 4px 0;
      height: 3px;
      width: 100%;
      border-radius: 2.5px;
      background-color: #15AFE8;
      transition: 0.3s;
      position: absolute;
    }
    header.header nav.main_nav_container .mobile_icon a span:nth-child(1) {
      top: 0;
      left: 0;
      right: 0;
    }
    header.header nav.main_nav_container .mobile_icon a span:nth-child(2) {
      top: 7px;
      left: 0;
      right: 0;
    }
    header.header nav.main_nav_container .mobile_icon a span:nth-child(3) {
      left: 0;
      right: 0;
      bottom: 0;
      width: 15px;
    }
    header.header nav.main_nav_container .mobile_icon a:hover span:last-child {
      width: 25px;
    }
    header.header nav.main_nav_container .mobile_icon a.expanded_icon span {
      width: 25px;
    }
    header.header nav.main_nav_container .mobile_icon a.expanded_icon span:nth-child(1) {
      top: 7px;
      transform: rotate(-45deg);
    }
    header.header nav.main_nav_container .mobile_icon a.expanded_icon span:nth-child(2) {
      opacity: 0;
    }
    header.header nav.main_nav_container .mobile_icon a.expanded_icon span:nth-child(3) {
      bottom: 7px;
      transform: rotate(45deg);
    }
    header.header nav.main_nav_container .logo_img {
      width: calc(100% -400px);
		margin-right: 33px;
    }
    header.header nav.main_nav_container .mobile_nav {
      background-color: #15AFE8;
      position: fixed;
      top: 75px;
      left: 0;
      bottom: 100%;
      right: 0;
      z-index: 10;
      display: flex;
      justify-items: center;
      transition: 0.5s;
    }
    header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container {
      margin: 0 auto;
      text-align: left;
      overflow-y: scroll;
    }


	.text{


		color:white;
	}
    header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container li {
      display: block;
      padding: 15px 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      transition: 0.3s;
    }
    header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container li:hover {
      background-color: rgba(0, 0, 0, 0.05);
      padding: 15px 20px;
    }
    header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container li a {
      color: #fff;
      font-size: 16px;
      display: block;
    }
    header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container li .expanded_menu {
      padding: 15px 20px;
    }
    header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container li:last-child {
      border: none;
    }
    header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container li ul.sub_nav {
      display: none;
    }
    header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container li ul.expanded_menu {
      display: block;
    }
    header.header nav.main_nav_container .expanded_menu {
      bottom: 0;
    }
    header.header nav.main_nav_container ul.desk_nav_container {
      width: 200px;
    }
    header.header nav.main_nav_container ul.desk_nav_container li a.active {
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
    }
    header.header nav.main_nav_container ul.desk_nav_container li a.active i {
      transform: scale(1.25);
    }
    header.header nav.main_nav_container ul.desk_nav_container li.only_desk_item {
      display: none;
    }
  }


header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container {
	margin: 0 auto;
	text-align: left;
	overflow-y: scroll;
}
header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container li {
	display: block;
	padding: 15px 0;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
	transition: 0.3s;
}
header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container li:hover {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 15px 20px;
}

header.header nav.main_nav_container ul.mobile_nav_container li.search_box{
	position: relative;
}

header.header nav.main_nav_container ul.mobile_nav_container li.search_box input {
	background-color: #fff;
	font-family: sans-serif;
	padding-left: 30px;
}

header.header nav.main_nav_container ul.mobile_nav_container li.search_box i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	font-size: 14px;
	color: #7B7474;
	transition: .3s;
}

header.header nav.main_nav_container ul.mobile_nav_container li.search_box:hover i {
	left: 30px;
}

header.header nav.main_nav_container .mobile_nav ul.mobile_nav_container li a {
	color: #fff;
	font-size: 16px;
	display: block;
}

header.header nav.main_nav_container ul.desk_nav_container
li.search_box i:hover{
	color: #15AFE8;
}

header.header nav.main_nav_container ul.desk_nav_container
li.search_box.slided_search i{
	left: 10px;
	font-size: 14px;
}

header.header nav.main_nav_container ul.desk_nav_container li.search_box i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0px;
	font-size: 16px;
	color: #7B7474;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 0;
	transition: .3s;
}

header.header nav.main_nav_container ul.desk_nav_container li.search_box input {
	background-color: #fff;
	font-family: sans-serif;
	width: 0px;
	opacity: 0;
	transition: .3s;
	padding: 0;
}

header.header nav.main_nav_container ul.desk_nav_container
li.search_box.slided_search input {
	width: 220px;
	opacity: 1;
	padding: 6px 12px;
	padding-left: 35px;
}

header.header nav.main_nav_container ul.desk_nav_container {
	display: inline-block;
	list-style-type: none;
	text-align: right;
	margin: 0;
}
header.header nav.main_nav_container ul.desk_nav_container li {
	display: inline-block;
	padding-right: 0;
	position: relative;
}

header.header nav.main_nav_container ul.desk_nav_container li.search_box{
	min-width: 20px;
	cursor: pointer;
}
  @media only screen and (max-width: 768px) {
    header.header nav.main_nav_container .mobile_icon {
      width: 150px;
    }
	  .dot1 {
		  left: 62px !important;
	  }
    header.header nav.main_nav_container .logo_img {
      width: calc(100% -300px);
      text-align: center;
    }
    header.header nav.main_nav_container .logo_img img {
      width: 150px;
    }
    header.header nav.main_nav_container ul.desk_nav_container {
      width: 150px;
      float: right;
    }
    header.header nav.main_nav_container ul.desk_nav_container li a {
      padding-right: 0;
      font-size: 14px;
      line-height: 14px;
      display: inline-block;
    }
    header.header nav.main_nav_container ul.desk_nav_container li a i {
      font-size: 14px;
      line-height: 14px;
    }
  }
  @media only screen and (max-width: 480px) {
	  .dot1 {
		  left: 34px !important;
	  }
	  img#bcoinimage {
		  font-size: 12px;
		  position: absolute;
		  right: 53px;
		  top: 19px;
	  }


    header.header nav.main_nav_container .mobile_icon {
      width: 80px;
    }
    header.header nav.main_nav_container .mobile_icon a {
      height: 18px;
      width: 18px;
    }
    header.header nav.main_nav_container .mobile_icon a span {
      margin: 2px 0;
      height: 2px;
      border-radius: 2px;
      position: absolute;
    }
    header.header nav.main_nav_container .mobile_icon a span:nth-child(1) {
      top: 0;
      left: 0;
      right: 0;
    }
    header.header nav.main_nav_container .mobile_icon a span:nth-child(2) {
      top: 6px;
      left: 0;
      right: 0;
    }
    header.header nav.main_nav_container .mobile_icon a span:nth-child(3) {
      left: 0;
      right: 0;
      bottom: 0;
      width: 14px;
    }
    header.header nav.main_nav_container .mobile_icon a:hover span:last-child {
      width: 18px;
    }
    header.header nav.main_nav_container .mobile_icon a.expanded_icon span {
      width: 18px;
    }
    header.header nav.main_nav_container .mobile_icon a.expanded_icon span:nth-child(1) {
      top: 6px;
      transform: rotate(-45deg);
    }
    header.header nav.main_nav_container .mobile_icon a.expanded_icon span:nth-child(2) {
      opacity: 0;
    }
    header.header nav.main_nav_container .mobile_icon a.expanded_icon span:nth-child(3) {
      bottom: 6px;
      transform: rotate(45deg);
    }
    header.header nav.main_nav_container .logo_img {
      width: calc(100% - 160px);
    }
    header.header nav.main_nav_container ul.desk_nav_container {
      width: 80px;
    }
    header.header nav.main_nav_container ul.desk_nav_container li a.active {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0px;
      /* font-family: sans-serif; */
    }
    header.header nav.main_nav_container ul.desk_nav_container li a.active i {
      font-size: 12px;
      line-height: 12px;
      margin-left: 0;
      transform: scale(1.1);
    }
  }


.dot3:after {
    content: '\2807';
    font-size: 30px;
}

h1{
font-size: 1.8rem;
}

@media (min-width: 992px)
{
	h1{
font-size: 2.5rem;

	}
}

section#contact {
  background-color: #212529;
  background-image: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

#contactForm
{
	padding-top: 30px;
	padding-bottom: 200px;
}


.redlinear {
  background-image: linear-gradient(red, yellow) !important;
}


.bluelinear
{
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,47,121,1) 47%, rgba(0,212,255,1) 100%) !important;
}

.teallinear
{
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,100,121,1) 47%, rgba(0,212,255,1) 100%) !important;
}

.carousel-item
{
    height:auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}


@media (min-width: 992px) 
{
    .carousel-item
    {
        height:450px;
    }
}


.bg-free
{
    background-color: #2c3e50;
}




.user-banner
{
    height: 150px;
}


.user-photo
{
    border: 3px solid #fff;
    width: 180px;
    height: 180px;
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
    margin-top: -30%;
}

.menu-icon
{
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0, 10px);
	padding: 0px;
	margin: 0px;
  border: 1px solid #CCC;
	padding: 0.25rem;
	font-size: 1.5rem;
}

.menu-icon-link
{
	padding-left: 20px !important;
}

.menu-photo-link
{
	padding-left: 35px !important;
}

.menu-photo
{
		position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
		top: 0;
		left: 0;
		transform: translate(0, 10px);
}


.page-sub-section
{    
    padding: 2rem 0;
}

.user-sub-section
{    
    padding: 6rem 0;
}

#usermenu
{
    margin-top: -4rem;
}

.user-menu-section .container
{    
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #FFF;    
    border-radius: 4rem !important;
}

.board-banner
{
    /*height: 440px;*/
    margin-top: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 240px;
    position: relative;
}

@media only screen and (max-width: 1224px)
{
  .board-banner
  {
      height: 200px;
      position: relative;
  }
}

@media only screen and (max-width: 920px)
{
  .board-banner
  {
      height: 180px;
      position: relative;
  }
}

.box-post
{
	min-height: 200px;
}

.post-title
{

    position: absolute;
    top: 10px;    
    left: 10px;    
    right: 10px;    
    bottom: 10px;        
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
    
}

.post-title textarea
{
    font-size: 2rem;
    color: #fff;
}

.post-title textarea:-ms-input-placeholder { /* Internet Explorer */
    color: #FFFFFF;
}
  
.post-title textarea::placeholder {
    color: #FFFFFF;
}

.box-thumb
{
    position: relative;
}

.title-thumb
{
    border: 3px solid #FFFFFF;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    text-align: center !important;
    padding-top: 1rem;
    margin: 0px;
    font-size: 0.7rem;
    color: #FFFFFF;
}

.text-thumb
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.changebgbtn
{
    position: absolute;
    top: 10px;
    right: 25px;
    opacity: 0.8;
    filter:alpha(opacity=0.4); /* IE support */
    
}

.changebgbtn:hover
{
    opacity: 1.0;
    filter: alpha(opacity=1.0);
}

.board-toolbar-section
{
    padding-top:0rem;
}

.board-menu-section
{    
    padding: 0rem 0;
}



.board-menu-actions
{
    text-align: center;
    margin-bottom: 1rem;
}


.board-menu-actions a.active
{
    border-color: #ee486d !important;
    background-color: #ee486d !important;
}



.imglogo
{
    width:180px;
}

@media (min-width: 992px) 
{

    .board-menu-actions
    {
        text-align: right;
    }
    
    .imglogo
    {
        width:250px;
    }
    
    .title-thumb
    {
        font-size: 1rem;
    }

}


.user-search-section
{    
    padding: 2rem 0;
    margin-bottom: 20rem;
}

.bg-lightgrey
{
    background-color: #ebebeb;
}

.nav-link-active
{
    background-color:#ee486d !important;
      color: #fff !important;
}

.bg-mainmenu {
  background-color: #ffffff !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #1a252f !important;
}



.dethead {
  /*padding-top: calc(2rem + 74px);*/
  /*padding-bottom: 2rem;*/
	padding-top: calc(2rem + -11px);
	padding-bottom: 0rem;
}

.dethead .dethead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}

.dethead .dethead-subheading {
  font-size: 1.25rem;
}

.dethead .dethead-avatar {
  width: 35rem;
}

@media (min-width: 992px) {
  .dethead {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .dethead .dethead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .dethead .dethead-subheading {
    font-size: 1.30rem;
  }
}

.simpleform
{
  font-size: 1.25rem;    
}

.simpleformlabel
{
  text-transform: uppercase;
  font-size: 1.0rem;    
  margin-top: 0.25rem;
}

.postsinfo
{
    margin-top: 2rem;
}

.postsinfobox
{
    border: 2px solid #FFF !important;
    margin-bottom: 1rem;
    display: inline-block;
    margin-right: 1rem;
    text-align:center;
}

.postsinfobox p
{
    margin: 0rem;
    font-size: 1rem;
}

.btn-x 
{    
  padding: 0.5rem 1rem;  
  font-size: 1.25rem;
  border-radius: 0rem;
}


.input-box 
{  
    padding: 1.45rem 1rem;  
    font-size: 1.25rem;
    border-radius: 0rem;
}



.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.admin-img-box
{
    margin-bottom: 2rem;
    min-height: 200px;
		position: relative;
    
}

.admin-img-box-survey
{
	position: absolute;
	top: 0;
	right: 15px;
}

.admin-colorbg
{
    min-height: 200px;
}


.admin-small-img img
{    
    min-height: 143px;
    object-fit: cover;
}


.admin-img
{
    text-align: center;
    margin-bottom: 1rem;
    min-height: 200px;
    overflow: hidden;
    height: 220px;
}
.admin-img img
{   
    object-fit: cover;
}

.admin-img-label
{
    margin: 0px;
    padding: 10px 10px 0px 10px;
    background-color: #FFF;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
    border-radius: 0.25rem;
}


.admin-img-label p.board-category
{
    margin-bottom: 10px;
}


.admin-msg
{
    padding: 10px;
    margin-left: 60px;
    background-color: #EEEEEE;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}


.members
{
    height: 60px;
    position: relative;
    margin-bottom: 5px;
}

.members-photo
{
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    top: 5px;
    left: 10px;

}


.members-photo img
{
	  width: 100%;
    height: 100%;
		background-color: transparent;
		border-radius: 25px !important;

}


.members-name
{
    padding-top: 10px;
    margin-left: 75px;
    font-size: 1rem;
		line-height: 1.1rem;
}

.members-role
{
	display: block;
	color: #6c757d;
	font-size: 0.9rem;
	font-style: italic;
}

.members-add
{
    position: absolute;
    top: 10px;
    right: 10px;    
}


.memstatus
{
    float: right;
    color: #666;
    font-weight: normal;
    font-size: 1rem;
    padding: 10px;
}



.admin-photo
{
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    top: 5px;
    left: 10px;
}


.post-info-small
{
    font-size: 0.8rem;
    font-weight: lighter;
}

.text-small
{
    font-size: 0.8rem;
    font-weight: lighter;
}

.text-gray-med
{
    color: #666666;
    font-size: 1rem;
    font-weight: lighter;
    text-align: left;
}

.board-title
{
    font-size: 1rem;
    margin-bottom: 0;
    font-weight:bold;
    text-align: left;
}

.board-date
{
    color: #888;
    font-size: 0.8rem;
    margin-bottom: 0;
    font-weight:lighter;
    text-align: left;
}

.board-category
{
    color: #666666;
    font-size: 0.9rem;
    font-weight: lighter;
    text-align: left;
}

.board-detail
{
    margin: 0px;
    padding: 0px;
    color: #666666;
    font-size: 1rem;
    font-weight: lighter;
    text-align: left;
}

.board-top-right
{
    position: absolute;
    top: 15px;
    right: 25px;
}


.my-msg
{
    padding: 10px;
    background-color: #cef2de;
    text-align: right;
    margin-right: 60px;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}


.my-photo
{
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 10px;
}


.my-title
{
    font-size: 1rem;
    margin-bottom: 0;
    font-weight:bold;
}

.my-category
{
    color: #666666;
    font-size: 1rem;
    font-weight: lighter;
}


.my-top-left
{
    position: absolute;
    top: 15px;
    left: 25px;
}


.my-date
{
    color: #888;
    font-size: 0.8rem;
    margin-bottom: 0;
    font-weight:lighter;
    text-align: left;
}


.opa-8
{
    opacity: 0.8;
    filter:alpha(opacity=0.8); /* IE support */
}


.add-new-bg
{   
  background: linear-gradient(to bottom, rgba(56, 140, 179, 0.8) 0%, rgba(56, 140, 179, 0.8) 100%), url("../img/take-control.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}


.admin-newbg
{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0%;
    left: 5%;
    opacity: 0.8;
    filter:alpha(opacity=0.8); /* IE support */
}

.add-new-icon
{
    color: #FFF;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-new-label
{   
    color: #FFF;
    font-size: 1.2rem;
    position: absolute;
    top: calc(50% + 2.5rem);
    left: 50%;
    transform: translate(-50%, -50%);
 
}

.board-cal h1
{
    background-color: #2c3e50;
    color: #FFFFFF;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.2rem;
}



#boardmenu
{
    padding-bottom: 2rem;
    font-family: "Montserrat" , -apple-system, BlinkMacSystemFont, "Segoe UI" , Roboto, "Helvetica Neue" , Arial, "Noto Sans" , sans-serif, "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol" , "Noto Color Emoji";
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    
}

@media (min-width: 576px) {


}
#boardmenu .navbar
{
    padding-left: 0px;
    padding-right: 0px;
}

#boardmenu .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  
#boardmenu .navbar-brand
{
    color: #fff;
}


#boardmenu .navbar-nav li.nav-item a.nav-link
{
    color: #2c3e50;
    font-weight: bold;
}

#boardmenu .navbar-nav li.nav-item a.nav-link:hover {
  color: #388cb3;
}

#boardmenu .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #2c3e50;
}

#boardmenu .navbar-nav li.nav-item a.nav-link.active {
  color: #388cb3;
}

#boardmenu .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

#mainNav .nav-link
{
	font-size: 0.9rem !important;
	padding-left: 0.9rem !important;
	padding-right: 0.9rem !important;
}


.board-nav
{
    color: #2c3e50;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
}


.board-nav:active, .board-nav:focus, .board-nav.active {
  color: #388cb3;
}



.muted-link, .muted-link h5
{
    font-weight: normal;
    color: #6c757d !important
}

.muted-link:hover, .muted-link h5:hover
{
    text-decoration: none;
    color: #388cb3 !important;
}

.board-link
{
    color: #2c3e50;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    text-align: center;
}

.board-link:hover
{
    text-decoration: none;
    color: #388cb3;
}

.under-link
{
		padding: 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.under-link:hover
{
    text-decoration: none;
		color: #495057;
}

.under-link.active
{
	color: rgba(0, 0, 0, 0.9);
}



#boards
{
    margin-bottom: 20rem;
}

#boards .row
{
    margin-bottom: 0rem;
}



.board-header
{
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #6c757d !important;
    text-decoration: none;
}

.board-header:hover
{
  color: #388cb3 !important;
    text-decoration: none;
}

.user-section
{
    padding:0;
}

.user-board
{
    padding: 1rem;
}

.user-board h4
{
    margin-bottom: 1rem;    
}


.user-board .item
{
    text-align: center;
    vertical-align:middle;            
    min-height: 200px;    
    background-position:center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    
}

.user-board .item h4
{
    background-image: linear-gradient(#CCC, #DDD, #EEE);
    margin-top: 0.75rem;
    padding: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
}


.carousel item img {
    width: auto;
    height: 100%;
}


.slider {
    width: 100%;
}

.slick-slide {
  margin: 0px 10px;
}

.slick-slide p
{
    font-family: ArialMT,Helvetica Neue,Arial,Liberation Sans,FreeSans,sans-serif;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    text-align: left !important;
    color: #666;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before, .slick-next:before
{
    color: black !important;
}

.carousel-center .slick-center {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.carousel-center  .slick-list { 
    padding:45px 60px !important;  
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1.2;
}

.slick-active {
  opacity: 1.0;
}

.slick-current {
  opacity: 1;
}


.bg-image
{    
    opacity: 0;
}

    
.bottom-line
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #efefef;
}


.msgbox
{
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.msguser
{
    color: #999;
}


.carousel-standard
{
    margin: 40px 5%;
}

.editoption
{
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    text-decoration: none;
    font-weight: normal;
}



.text-responsive-align
{
    text-align: center;
}

.col-ads
{
    display:none;
}

.col-title h3, .col-title p
{
    text-align: center;
}

.col-action
{
    text-align: center;
}


@media (min-width: 480px)
{
    .col-ads
    {
        display:none;
    }
 
}



@media (min-width: 576px) 
{   
    
}

@media (min-width: 768px)
{
    .col-ads
    {
        display:block;
    }
    
    .text-responsive-align
    {
        text-align: left;
    }
    
    .col-title h3, .col-title p
    {
        text-align: left;
    }

    .col-action
    {
        text-align: right;
    }
 
}    


@media (min-width: 992px) 
{
    .text-responsive-align
    {
        text-align: left;
    }
    
    .col-title h3, .col-title p
    {
        text-align: left;
    }

    .col-action
    {
        text-align: right;
    }
}

.groupsloadmore, .topicsloadmore, .subtopicsloadmore, .postsloadmore, .surveyloadmore, .loadmore
{
    display:none;
}



.btn-checkbox {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-checkbox:hover {
  color: #FFFFFF;
  background-color: #388cb3;
  border-color: #388cb3;
}

.btn-checkbox:focus, .btn-checkbox.focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-checkbox.disabled, .btn-checkbox:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-checkbox:not(:disabled):not(.disabled):active, .btn-checkbox:not(:disabled):not(.disabled).active,
.show > .btn-checkbox.dropdown-toggle {
  color: #FFFFFF;
  background-color: #388cb3;
  border-color: #388cb3;
}

.btn-checkbox:not(:disabled):not(.disabled):active:focus, .btn-checkbox:not(:disabled):not(.disabled).active:focus,
.show > .btn-checkbox.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}


.transtextbox
{
	border-style: none;
    font-size: 2rem;
    background-color: Transparent !important;
    color: #FFFFFF !important;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transtextbox:-ms-input-placeholder { /* Internet Explorer */
  color: #FFFFFF;
}

.transtextbox::placeholder {
  color: #FFFFFF;
}

.board-link .cat-link
{
    text-align: center !important;
    font-weight: bold;
    margin: 0px !important;
    padding: 12px !important;
}

.bg-topic-color
{
    background-color: #4c80bc !important;
    border-radius: 1rem !important;    
}

.bg-group
{
	height: 214px!important;
    background-color: #c9ffff !important;
    background-image: url("../img/banner/create-group.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    border-radius: 1.3rem !important;
}

.bg-topic
{
    background-color: #4c80bc !important;
    background-image: url("../img/banner/create-topic.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    border-radius: 11px !important;
}

.bg-post
{
    background-color: #f1bf3c !important;
    background-image: url("../img/banner/create-post.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    border-radius: 1.3rem !important;
}


.bg-green
{
    background-color: #87b339 !important;
    border-radius: 1rem !important;  
    
}

.bg-red
{
    background-color: #e94035 !important;
    border-radius: 1rem !important;      
}

.bg-color1
{
    background-color: #7ab0dc !important;
    border-radius: 1rem !important;  
}
.bg-color2
{
    background-color: #a5cb80 !important;
    border-radius: 1rem !important;  
}
.bg-color3
{
    background-color: #68d6de !important;
    border-radius: 1rem !important;  
}
.bg-color4
{
    background-color: #e0749a !important;
    border-radius: 1rem !important;  
}
.bg-color5
{
    background-color: #9898f5 !important;
    border-radius: 1rem !important;  
}
.bg-color6
{
    background-color: #f77f7f !important;
    border-radius: 1rem !important;  
}
.bg-color7
{
    background-color: #e0d76c !important;
    border-radius: 1rem !important;  
}
.bg-color8
{
    background-color: #838daf !important;
    border-radius: 1rem !important;  
}
.bg-color9
{
    background-color: #ef6bda !important;
    border-radius: 1rem !important;  
}
.bg-color10
{
    background-color: #8bebbb !important;
    border-radius: 1rem !important;  
}




.text-black
{
    color: #000 !important;
}


.showall-icon
{
    font-size: 1rem;
    color: #CCC;    
}



.sidebar
{
	padding: 1rem;
	position: relative;
}

.sidebar h5
{
	font-size: 1.1rem;
}

.sidebar p
{
	font-size: 0.9rem;
}

.sidebar ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.sidebar ul li
{
	padding: 3px;
	font-size: 0.9rem !important;
}

.sidebar ol
{
	padding: 1.1rem;
	margin: 0px;
}

.sidebar ol li
{
	padding: 3px;
	font-size: 0.9rem !important;
}

.sidebar .board-banner
{
    height: 150px;
    position: relative;
}


.search-group input
{
	font-size: 1rem !important;
	padding: 1rem !important;
}

.search-group button
{
	font-size: 1rem !important;
	padding:  0rem 1.5rem !important;
}

.search-small input, .search-small button
{
	padding: 0rem 0.5rem;
	font-size: 0.8rem !important;
}


.link-icon:hover
{
	background-color: #DDD;
}


.item-count
{
	margin-left: 0.2rem;
	color: #6c757d;
	font-size: 0.9rem;
	font-style: italic;
}



.btn-small
{
	font-size: 0.8rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}


.pos-right
{
	position: absolute;
	top: 0;
	right: 0;
}


.underlined
{
	border-bottom: solid 3px #388cb3;

}


.form-group input
{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}


.hlink, .hlink:hover
{
	font-size: 0.9rem;
	font-weight: normal;
	text-decoration: none;
}
.bg-pink{
    background: rgb(232,62,164);
    background: linear-gradient(180deg, rgba(232,62,164,1) 21%, rgba(212,62,232,1) 83%);
}

.postImage{
    width: 92px;
    height: 92px;
    object-fit: cover;
}.postImagex{

 }

.postImageFile{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: 9px 10px;
}

.postFile{
    width:276px;
    height:92px;
}

.selectedCategory{
    border:3px solid #4BC9E0 !important;
    -moz-box-shadow:    0 0 3px #000000;
    -webkit-box-shadow: 0 0 3px #000000;
    box-shadow:         0 0 3px #000000;
}

.item.current{
  background-color: #4bc9e042;
  border-radius: 10px;
}

.slick-slide{
    padding-top: 3px;
    padding-bottom: 3px;
}

/* bootstrap-tagsinput.css file - add in local */

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* start footer style */
/* =================================== */
footer.footer {
  padding: 75px 0;background-color: rgb(57 140 179);
}
footer.footer .footer_container .footer_item h5 {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  padding-bottom: 15px;
  margin-bottom: 25px;
  text-transform: capitalize;
  position: relative;
}
footer.footer .footer_container .footer_item h5:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2.5px;
  background-color: #fff;
  border-radius: 2.5px;
  content: "";
}
footer.footer .footer_container .footer_item p {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
}
footer.footer .footer_container .footer_item ul {
  list-style-type: none;
}
footer.footer .footer_container .footer_item ul li a {
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  transition: 0.3s;
  text-transform: uppercase;
}
footer.footer .footer_container .footer_item ul li a:hover {
  text-decoration: underline;
}
footer.footer .footer_container .footer_item ul.social_links li {
  display: inline-block;
}
footer.footer .footer_container .footer_item ul.social_links li a {
  margin-top: 5px;
  height: 30px;
  width: 30px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-right: 5px;
  transition: 0.3s;
}
footer.footer .footer_container .footer_item ul.social_links li a:hover {
  color: #15AFE8;
}

/* footer responsive styles */
/* =================================================== */
@media screen and (max-width: 768px) {
  footer.footer {
    padding-bottom: 25px;
  }
  footer.footer .footer_container {
    flex-direction: column;
  }
  footer.footer .footer_container .footer_item {
    width: 100%;
    margin-bottom: 50px;
  }
}

.board-link-content {
  position: relative;
}

.board-link-content .bg-post {
  position: relative;
}

.board-link-thumbnail {
  position: relative;
}

.privacy-key {
  height: 20px;
  width: 20px !important;
  position: absolute;
  float: right;
}

.board-link-content .privacy-key {
  top: 10px;
  right: 10px;
}

.loadmore .privacy-key {
  top: 10px;
  right: 25px;
}

#groupAccessModal .modal-header-text,
#topicAccessModal .modal-header-text,
#subtopicAccessModal .modal-header-text,
.secondery_item span.secondery_btn,
.more_option span.more_option_button {
  color: #7B7474 !important;
}

.secondery_item span.secondery_btn:hover,
.more_option span.more_option_button:hover,
.gp_main .gp_banner .banner_container .group_btn span.group_hearts:hover {
  color: #388cb3 !important;
  /*background-color: #388cb3;*/
  background-color: rgb(56, 140, 179,0.3);
  /*opacity: 0.3;*/
  border-radius: 0.25rem !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.viewb_all button {
  padding: 10px 20px;
  border: 2px solid #15AFE8;
  border-radius: 10px;
  text-decoration: none;
  color: #15AFE8 !important;
  transition: 0.3s;
  text-transform: capitalize;
  margin-top: 20px;
}

.viewb_all button:hover {
    background-color: #15AFE8;
    color: #fff !important;
}

.pull-right {
  float: right;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  cursor: pointer;
  font-family: lato-regular !important;
  height: 50px !important;
  line-height: 40px  !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px  !important;
}


.select2-container--default .select2-selection--multiple {
  height: 50px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px !important;
}
.select2-container--open .select2-dropdown--below {
  border-left: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  border-right: 1px solid #ced4da !important;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -6px;
}

.form-required:after {
  content:"*";
  color:red;
  padding-left: 5px;
  font-size: 1.1rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:hover {
  background-color: #15AFE8 !important;
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #15AFE8 !important;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #15AFE8 !important;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #15AFE8 !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #15AFE8 !important;
  color: white; 
}

/* noty */
.noty_effects_open {
  opacity: 0;
  transform: translate(50%);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.noty_effects_close {
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important; 
}

.dropdown-menu {
  animation: bootDrop;
  animation-fill-mode: forwards;
  animation-duration: .3s;
}

@keyframes bootDrop {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 5px;
  }
}

.bootstrap-tagsinput {
    width: 100% !important;
    min-height: calc(1.5em + 0.75rem + 0.25rem) !important;
    /*padding: 0.375rem 0.75rem !important;*/
    font-size: 1rem !important;
    font-weight: 400;
    /*line-height: 1.5;*/
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    line-height:40px;
    display:block !important;
}

.bootstrap-tagsinput .tag {
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 2;    
}
.bootstrap-tagsinput .tag {
    background:#15AFE8;
    padding:5px;
    border-radius:4px;
}

.tt-menu {
    font-size: 1rem !important;
    width:300px; 
}

.tt-input {
    margin-top: 2px;
    vertical-align:baseline !important;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #15AFE8 !important;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
    background-color: #15AFE8 !important;
}

.twitter-typeahead { 
    display:initial !important; 
}

.typeahead { 
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 8px 12px;
    width: 300px;
    font-size:1.5em;
}

span.twitter-typeahead .tt-suggestion {
    padding: 10px 20px;  
    border-bottom:#CCC 1px solid;
    cursor:pointer;
}
span.twitter-typeahead .tt-suggestion:last-child { 
    border-bottom:0px; 
}

.bgcolor {
    max-width: 440px;
    height: 200px;
    background-color: #c3e8cb;
    padding: 40px 70px;
    border-radius:4px;
    margin:20px 0px;
}

span.twitter-typeahead .tt-suggestion {
    line-height: 40px !important;
}

.form-control {
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da;
}

/* first section responsive */
section.banner_desc{
  display: flex;
  justify-content: space-between;
  /*padding: 15px 25px;*/
}

@media only screen and (max-width: 768px) {
  section.banner_desc {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}


.gp_main .gp_banner {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .gp_main .gp_banner {
    order: 1;
    /*margin-bottom: 25px;*/
  }
}

.gp_main .gp_banner .banner_container img{
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .gp_main .gp_banner .banner_container {
    box-shadow: 0px 0px 1px 0px silver;
    border-radius: 0;
  }
}

.gp_main .gp_banner .banner_container button.change_bg_btn {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  font-family: lato-regular;
  text-transform: uppercase;
}

.gp_main .gp_banner .banner_container button.change_bg_btn i {
  margin-right: 5px;
}

.gp_main .group_desc {
	padding: 11px 0px 0px 0px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .gp_main .group_desc {
    order: 2;
  }
}

.gp_main .group_desc .group_desc_container .group_text {
  /*margin-bottom: 25px;*/
}

@media only screen and (max-width: 768px) {
  .gp_main .group_desc .group_desc_container .group_text {
    text-align: center;
  }
}

.gp_main .group_desc .group_desc_container .group_text h3.group_name {
  font-size: 25px;
  font-family: montserrat-bold;
  margin-bottom: 15px;
}

@media only screen and (min-width: 769px) {
  .gp_main .group_desc .group_desc_container .group_text h3.group_name {
    font-size: max(3vw, 25px);
  }
}

.gp_main .group_desc .group_desc_container .group_text p {
  font-size: 16px;
  font-family: montserrat-regular;
  margin: 0;
  margin-bottom: 2.5px;
  line-height: 1.15;
}
@media only screen and (min-width: 769px) {
  .gp_main .group_desc .group_desc_container .group_text p {
    font-size: max(1.5vw, 16px);
  }
}
.gp_main .group_desc .group_desc_container .group_text p.group_metta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.5px;
}

@media only screen and (max-width: 768px) {
  .gp_main .group_desc .group_desc_container .group_text p.group_metta {
    justify-content: center;
  }
}

.gp_main .group_desc .group_desc_container .group_text p.group_metta span {
  display: inline-block;
  color: #7B7474;
  font-weight: 600;
}

.gp_main .group_desc .group_desc_container .group_text p.group_metta span.group_badge {
  padding: 2.5px 10px;
  background-color: #8FB04E;
  text-transform: capitalize;
  border-radius: 15px;
  margin-right: 15px;
  color: #fff;
  font-weight: 700;
}

.gp_main .group_desc .group_desc_container .group_text p.group_metta span.group_hearts {
  border-right: 1px solid silver;
  padding-right: 7.5px;
  margin-right: 7px;
}

.gp_main .gp_banner .banner_container .group_btn span.group_hearts  {
  padding: 7.5px;
  color: #7B7474;
  font-weight: 600;
  line-height: 1.15;
  font-size: 32px;
  cursor: pointer;
}

.gp_main .group_desc .group_desc_container .group_text p.group_metta span.group_memebers {
  margin-right: 5px;
}

.gp_main .group_desc .group_desc_container .group_btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .gp_main .group_desc .group_desc_container .group_btn {
    justify-content: center;
  }
}

.gp_main .group_desc .group_desc_container .group_btn span {
  margin: 0 10px;
  font-size: 25px;
  cursor: pointer;
  transition: .3s;
  margin-left: 10px;
  padding: 5px 15px;
  font-size: 2rem;
}

.gp_main .group_desc .group_desc_container .group_btn span:hover,
div.member_roles h6 span a.invite_member_btn:hover,
div.member_roles h6 span a.user_role_btn:hover,
div.member_roles h6 span a.role_permission_btn:hover,
.gp_main .gp_banner .banner_container .group_btn span.group_hearts:hover {
  color: #15AFE8;
}

.gp_main .group_desc .group_desc_container .group_btn button,
.gp_main .gp_banner .group_btn button {
  font-family: lato-regular;
  padding: 5px 20px;
  text-transform: capitalize;
  background-color: #24be97;
  border: 2px solid #24be97;
  color: #fff;
}

.gp_main .gp_banner .group_btn button {
  margin-top: 6px;
}
.gp_main .gp_banner .group_btn {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gp_main .group_desc .group_desc_container .group_btn button:hover,
.gp_main .gp_banner .group_btn button:hover {
  background-color: transparent;
  color: #F42C4C;
}

@media only screen and (min-width: 769px) {
  .gp_main .group_desc .group_desc_container .group_btn button,
  .gp_main .gp_banner .group_btn button {
    font-size: max(1.5vw, 16px);
  }
}

.gp_main section.group_info .div_group_info_container {
  margin: 25px auto;
  margin-bottom: 75px;
  background-color: #fff;
}

.gp_main section.group_info .div_group_info_container 
.grup_info_nav ul{
  list-style-type: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 75px;
  margin-top: 25px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .gp_main section.group_info .div_group_info_container 
  .grup_info_nav ul{
    border-bottom: none;
  }
  .group_topic_filter_container .col-4 {
    flex: 0 0 49.66667% !important;
    max-width: 49.66667% !important;
  }
	.topic_post_filter_container  .col-4 {
		flex: 0 0 49.66667% !important;
		max-width: 49.66667% !important;
	}
}

.gp_main section.group_info .div_group_info_container 
.grup_info_nav ul li{
  display: inline-block;
  padding: 0 15px;
  padding-top: 0;
}

.gp_main section.group_info .div_group_info_container 
.grup_info_nav ul li a{
  font-family: lato-regular;
  font-size: 22px;
  text-decoration: none;
  color: #7B7474;
  transition: .3s;
  padding-bottom: 10px;
  margin-bottom: -1px;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.gp_main section.group_info .div_group_info_container 
.grup_info_nav ul li a.active{
  color: #15AFE8;
  border-color: #15AFE8;
}

.gp_main section.group_info .div_group_info_container 
.grup_info_nav ul li a:hover{
  color: #15AFE8;
}

.gp_main section.group_info .div_group_info_container .form-group {
  margin-bottom: 25px;
}

.gp_main section.group_info .div_group_info_container .form-group h6 {
  font-size: 20px;
  font-family: montserrat-bold;
}

.gp_main section.group_info .div_group_info_container .form-group select {
  cursor: pointer;
  font-family: lato-regular !important;
  height: 50px !important;
  line-height: 40px  !important;
}

.gp_main section.group_info .div_group_info_container .form-group input {
  font-family: lato-regular;
  height: 50px !important;
  line-height: 40px !important;
}

.gp_main section.group_info .div_group_info_container .form-group.radio_btn_group .radio_btn_item {
  display: flex;
}

.gp_main section.group_info .div_group_info_container .form-group.radio_btn_group .radio_btn_item input {
  margin-right: 10px;
}

.gp_main section.group_info .div_group_info_container .form-group.radio_btn_group .radio_btn_item p {
  margin: 0;
  margin-top: 12px;
  font-family: lato-regular;
  font-size: 16px;
  color: #7B7474;
}

.gp_main section.group_info .div_group_info_container .form-group.radio_btn_group .radio_btn_item p label {
  display: block;
  font-family: montserrat-bold;
  margin: 0;
  font-size: 17px;
  cursor: pointer;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles {
  margin-top: 50px;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles h6 {
  position: relative;
  margin-bottom: 25px;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles h4{
  font-family: montserrat-bold;
  margin-bottom: 25px;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles h4 span a {
  font-family: montseraat-bold;
  margin-left: 5px;
  color: #15AFE8;
  transition: .3s;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles h6 span a:hover {
  color: #7B7474;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles .members_list .members_img {
  margin-top: 15px;
  margin-bottom: 5px;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles .members_list .members_img img {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-left: -10px;
  border: 2px solid #fff;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles .members_list .members_img img:first-child {
  margin: 0;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles .members_list p {
  margin: 0;
  font-family: montserrat-bold;
  color: #7B7474;
  font-size: 16px;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles .members_list p span {
  color: #333;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles .admin_list .admin_img {
  margin-top: 15px;
  margin-bottom: 5px;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles .admin_list .admin_img img {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-left: -10px;
  border: 2px solid #fff;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles .admin_list .admin_img img:first-child {
  margin: 0;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles .admin_list p {
  margin: 0;
  font-family: montserrat-bold;
  color: #7B7474;
  font-size: 16px;
}

.gp_main section.group_info .div_group_info_container .form-group.member_roles .admin_list p span {
  color: #333;
}

.gp_main section.group_info .div_group_info_container .form-group.form_button {
  margin-top: 50px;
}

.gp_main section.group_info .div_group_info_container .form-group.form_button button {
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: lato-regular;
  text-transform: capitalize;
}

.gp_main section.group_info .div_group_info_container
.form-group.form_button button.change_info{
  border: 2px solid #15AFE8;
  background-color: #15AFE8;
  color: #ffff;
  transition: .3s;
}

.gp_main section.group_info .div_group_info_container
.form-group.form_button button.change_info:hover{
  background-color: transparent;
  color: #15AFE8;
}

@keyframes fadeInAnimation {
  from {
    margin-top: 10px;
    opacity: 0;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}










/* secondery items tsyle */
.secondery_item,
.more_option {
  position: relative;
}

.secondery_item.slided::before,
.more_option.slided::after {
  position: absolute;
  width: 80px;
  height: 150px;
  z-index: 0;
  content: '';
  background-color: transparent;
}
.secondery_item.slided::before {
  top: -10px;
  left: 19px;;
}

.more_option.slided::before {
  top: -10px;
  /*right: 19px;*/
}

@media only screen and (max-width: 768px) {
  .secondery_item.slided::before {
    left: -69px;
  }

  .more_option.slided::before {
    /*right: -69px;*/
  }
}
/*.secondery_item, .more_option {*/
/*	position: relative;*/
/*	display: flex!important;*/
/*}*/
.secondery_item ul.secondery_dropdown,
.more_option ul.more_option_dropdown {
  position: absolute;
  background-color: #fff;
  width: 165px;
  max-height: 100vh;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px grey;
  overflow: visible;
  z-index: 999;
  transition: .3s;
  display: none;
}
.secondery_item ul.secondery_dropdown {
  top: -3px;
  left: 75px;
}

.more_option ul.more_option_dropdown {
  top: -3px;
  right:-3px;
}

@media only screen and (max-width: 768px) {
  .secondery_item ul.secondery_dropdown,
  .more_option ul.more_option_dropdown {
    left: auto;
    right: 4px;
  }
}

.secondery_item ul.secondery_dropdown.slided,
.more_option ul.more_option_dropdown.slided {
  display: block;
  animation-name: fadeInAnimation;
  animation-duration: .3s;
}

.secondery_item ul.secondery_dropdown::before,
.more_option ul.more_option_dropdown::before {
  position: absolute;
  top: 10px;
  left: -8px;
  transform: translateX(-50%);
  height: 15px;
  width: 15px;
  content: '';
  background-color: transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid grey;
}

@media only screen and (max-width: 768px) {
  .secondery_item ul.secondery_dropdown::before,
  .more_option ul.more_option_dropdown::before {
    left: auto;
    right: -45px;
    border-right: 15px solid transparent;
    border-left: 15px solid grey;
  }
}

.secondery_item ul.secondery_dropdown::after,
.more_option ul.more_option_dropdown::after {
  position: absolute;
  top: 10px;
  left: -8px;
  transform: translateX(-50%);
  height: 15px;
  width: 15px;
  content: '';
  background-color: transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  right: -20px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .secondery_item ul.secondery_dropdown::after,
  .more_option ul.more_option_dropdown::after {
    left: auto;
    right: -45px;
    border-right: 15px solid transparent;
    border-left: 15px solid #fff;
  }
}

.secondery_item ul.secondery_dropdown li,
.more_option ul.more_option_dropdown li {
  padding: 4px 13px;
  transition: .3s;
  display: block;
  border-bottom: 1px solid #f5f5f5;
}

.secondery_item ul.secondery_dropdown li:hover,
.more_option ul.more_option_dropdown li:hover {
  background-color: #f5f5f5;
}

.secondery_item ul.secondery_dropdown li a,
.more_option ul.more_option_dropdown li a {
  font-size: 16px;
  text-transform: capitalize;
  font-family: lato-regular;
  text-decoration: none;
  line-height: 1.1;
  display: block;
}







/* ========================================================== */
/* modal styles start here */
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: none;
}

.modal_container.popped {
  display: block;
}

.modal_container .modal_item {
  width: 65%;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  margin: 5% auto;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  display: none;
  transition: .3s;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .modal_container .modal_item::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal_container .modal_item {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.modal_container .modal_item.popped {
  display: block;
}

@media only screen and (max-width: 991px) {
  .modal_container .modal_item {
    width: 85%;
  }
}

@media only screen and (max-width: 575px) {
  .modal_container .modal_item {
    width: 95%;
    padding: 25px;
    padding-top: 50px;
  }
}

.modal_container .modal_item .modal_closer {
  position: absolute;
  right: 0px;
  top: 0px;
  color: red;
  padding: 10px 12.5px;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}

.modal_container .modal_item .modal_closer:hover {
  background-color: red;
  color: #fff;
}

.modal_container .modal_item .invite_option {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .modal_container .modal_item .invite_option {
    align-items: start;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .modal_container .modal_item .invite_option span {
    width: 100%;
  }
}

.modal_container .modal_item .invite_option button {
  margin: 5px 0;
  margin-right: 15px;
  font-family: montserrat-regular;
  text-transform: capitalize;
}

.modal_container .modal_item .invite_option button.add_btn{
  background-color: #15AFE8;
  color: #fff;
  border: 2px solid #15AFE8;
  transition: .3s;
}

.modal_container .modal_item .invite_option button.add_btn:hover{
  background-color: transparent;
  color: #15AFE8;
}

@media only screen and (max-width: 480px) {
  .modal_container .modal_item .invite_option button {
    font-size: 14px;
    margin: 5px;
  }
}

.modal_container .modal_item .invite_option a {
  margin: 10px 0;
  font-family: lato-bold;
  text-transform: uppercase;
  font-size: 18px;
  color: #15AFE8;
  text-decoration: none;
  transition: .3s;
}

@media only screen and (max-width: 480px) {
  .modal_container .modal_item .invite_option a {
    font-size: 16px;
    margin-top: 15px;
  }
}

.modal_container .modal_item .invite_option a:hover {
  color: #7B7474;
}

.modal_container .modal_item .search_member {
  position: relative;
  margin-bottom: 50px;
}

.search_member {
	 position: relative;
	 margin-bottom: 50px;
 }

.modal_container .modal_item .search_member input {
  padding-right: 105px;
  font-family: lato-regular;
}
.search_member input {
	padding-right: 105px;
	font-family: lato-regular;
}
.modal_container .modal_item .search_member button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-family: sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  background-color: #15AFE8;
}
.search_member button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	font-family: sans-serif;
	text-transform: capitalize;
	font-size: 16px;
	color: #fff;
	background-color: #15AFE8;
}

.modal_container .modal_item a.share_link {
  margin-bottom: 35px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
a.share_link {
	 margin-bottom: 35px;
	 text-decoration: none;
	 display: flex;
	 align-items: center;
 }
.modal_container .modal_item a.share_link span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f5f5f5;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
  color: #333;
}
a.share_link span {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #f5f5f5;
	text-align: center;
	display: inline-block;
	margin-right: 15px;
	color: #333;
}

.modal_container .modal_item a.share_link span i {
  font-size: 20px;
  line-height: 48px;
  transition: .3s;
}

.modal_container .modal_item a.share_link span i:hover {
  color: #15AFE8;
}

.modal_container .modal_item a.share_link p {
  width: calc( 100% - 65px);
  font-size: 18px;
  margin: 0;
  line-height: 1.1;
  font-family: lato-bold;
  color: #333;
  transition: .3s;
}

.modal_container .modal_item a.share_link p:hover {
  color: #15AFE8;
}

.modal_container .modal_item ul.suggest_members {
  list-style-type: none;
}

.modal_container .modal_item ul.suggest_members li {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal_container .modal_item ul.suggest_members li .user_name_img {
  display: flex;
  align-items: center;
}

.modal_container .modal_item ul.suggest_members li .user_name_img img {
  height: 50px;
  /*width: 50px;*/
  border-radius: 50%;
  /*margin-right: 15px;*/
}

.modal_container .modal_item ul.suggest_members li .user_name_img p {
  margin: 0;
  font-family: montserrat-bold;
}

.modal_container .modal_item ul.suggest_members li
.add_member_btn.added_member{
  background-color: #15AFE8;
  font-family: moon-bold;
  padding: 5px 20px;
  color: #fff;
}

.modal_container .modal_item.user_role h6 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-family: montserrat-bold;
}
.user_role h6 {
	text-align: center;
	margin-bottom: 25px;
	font-size: 22px;
	font-family: montserrat-bold;
}
.modal_container .modal_item.user_role h6 a{
  font-family: lato-regular;
  color: #15AFE8;
  font-size: 18px;
  background-color: #ffff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px silver;
  text-decoration: none;
  transition: .3s;
}
.user_role h6 a{
	font-family: lato-regular;
	color: #15AFE8;
	font-size: 18px;
	background-color: #ffff;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 1px 1px silver;
	text-decoration: none;
	transition: .3s;
}
.modal_container .modal_item.user_role h6 a:hover{
  color: #fff;
  background-color: #15AFE8;
}
.user_role h6 a:hover{
	color: #fff;
	background-color: #15AFE8;
}
.modal_container .modal_item.user_role .search_member {
  margin-bottom: 25px;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.user_role .search_member {
	margin-bottom: 25px;
	max-width: 450px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.modal_container .modal_item.user_role ul.user_role_list {
  list-style-type: none;
  margin-bottom: 25px;
}
.user_role ul.user_role_list {
	list-style-type: none;
	margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  .modal_container .modal_item.user_role ul.user_role_list {
    text-align: center;
    margin-bottom: 50px;
  }
	.user_role ul.user_role_list {
		text-align: center;
		margin-bottom: 50px;
	}
}

.modal_container .modal_item.user_role ul.user_role_list li {
  display: inline-block;
  padding: 10px;
}
.user_role ul.user_role_list li {
	display: inline-block;
	padding: 10px;
}

@media only screen and (max-width: 768px) {
  .modal_container .modal_item.user_role ul.user_role_list li {
    padding: 0 5px;
    padding-bottom: 5px;
  }
	.user_role ul.user_role_list li {
		padding: 0 5px;
		padding-bottom: 5px;
	}
}

.modal_container .modal_item.user_role ul.user_role_list li a {
  font-size: 17px;
  font-family: lato-bold;
  color: #7B7474;
  transition: .3s;
}
.user_role ul.user_role_list li a {
	font-size: 17px;
	font-family: lato-bold;
	color: #7B7474;
	transition: .3s;
}
.modal_container .modal_item.user_role ul.user_role_list li a.active {
  color: #15AFE8;
}
.user_role ul.user_role_list li a.active {
	color: #15AFE8;
}

.modal_container .modal_item.user_role ul.user_role_list li a:hover {
  color: #15AFE8;
}
.user_role ul.user_role_list li a:hover {
	color: #15AFE8;
}

.modal_container .modal_item.user_role ul.suggest_members li {
  align-items: start;
  margin-bottom: 25px;
}
.user_role ul.suggest_members li {
	align-items: start;
	margin-bottom: 25px;
}

@media only screen and (max-width: 575px) {
  .modal_container .modal_item.user_role ul.suggest_members li {
    flex-direction: column;
  }
	.user_role ul.suggest_members li {
		flex-direction: column;
	}
}

.modal_container .modal_item.user_role ul.suggest_members li .user_name_img {
  align-items: start;
  width: calc( 100% - 155px);
}
.user_role ul.suggest_members li .user_name_img {
	align-items: start;
	width: calc( 100% - 155px);
}

@media only screen and (max-width: 575px) {
  .modal_container .modal_item.user_role ul.suggest_members li .user_name_img {
    width: 100%;
  }
	.user_role ul.suggest_members li .user_name_img {
		width: 100%;
	}
}

.modal_container .modal_item.user_role ul.suggest_members li .user_name_img p span {
  font-size: 16px;
  line-height: 18px;
  color: #7b7474;
  font-family: lato-regular;
  display: block;
}
.user_role ul.suggest_members li .user_name_img p span {
	font-size: 16px;
	line-height: 18px;
	color: #7b7474;
	font-family: lato-regular;
	display: block;
}
/*# sourceMappingURL=group-page.css.map */
.role_dropdown{
  width: 150px;
  border: 1px solid silver;
  border-radius: 5px;
  position: relative;
  padding-right: 25px;
  transition: .3s;
}

.role_dropdown.exist_role{
  width: 300px;
}

@media only screen and (max-width: 575px) {
  .role_dropdown {
    margin-top: 10px;
  }
  .role_dropdown.exist_role{
    width: 250px;
  }
}

.role_dropdown.dropped{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.role_dropdown span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #7B7474;
  transition: .3s;
}

.role_dropdown.dropped span{
  transform: translateY(-50%) rotate(180deg);
}

.role_dropdown a{
  font-family: montserrat-regular;
  padding: 10px;
  display: block;
  line-height: 1.15;
  font-size: 14px;
  transition: .3s;
}

.role_dropdown .change_role_btn{
  background-color: #15AFE8;
  color: #fff;
  border-radius: 5px;
  font-family: montserrat-regular;
  width: 120px;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.role_dropdown .change_role_btn{
  outline: none;
}

.role_dropdown a:hover{
  color: #15AFE8!important;
}

.role_dropdown .role_secondery{
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  box-shadow: 0px 0px 2px 0px #7B7474;
  border-radius: 5px;
  background-color: #fff;
  z-index: 9999;
  border: 1px solid silver;
  overflow: hidden;
  display: none;
  opacity: 0;
  padding: 0 10px;
}

.role_dropdown.dropped .role_secondery{
  display: block;
  opacity: 1;
}

.role_dropdown .role_secondery a{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.role_dropdown .role_secondery a:hover{
  text-decoration: underline;
}

.role_dropdown .role_secondery a:last-child{
  border: none;
}

html {
  scroll-behavior: smooth;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #eee !important;
}

.form-group .label-h6 {
    font-size: 20px !important;
    /* font-family: montserrat-bold; */
}

.form-group input {
    font-family: lato-regular !important;
    height: 50px;
    line-height: 40px;
}

.radio_btn_group .radio_btn_item {
    /*margin: 0 !important;*/
    /*margin-top: 12px !important;*/
    font-family: lato-regular !important;
    font-size: 16px !important;
    color: #7B7474 !important;
}

.radio_btn_group .radio_btn_item label {
    /*display: block !important;*/
    font-family: montserrat-bold !important;
    /*margin: 0 !important;*/
    font-size: 17px !important;
    cursor: pointer !important;
}

.btn-upload-cover-image {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.btn {
  line-height: 34px !important;
  border-radius: 0.25rem !important;
}




.breadcrumb, .group_container_info a {  
    font-size: 1rem !important;
    font-family: montserrat-regular !important;
}

div.member_roles h6 span a.invite_member_btn,
div.member_roles h6 span a.user_role_btn,
div.member_roles h6 span a.role_permission_btn {
  padding: 5px;
  color: #388cb3;
}

.invite_member_btn{
	background:#24be97!important;
	border: 1px solid #e9ecef;
}
div.member_roles h6 span:first-of-type {
  margin-left: 30px;
}

.group_badge_public {
  background-color: #05CBD1 !important;
}

.group_badge_private {
  /*background-color: #FF1092 !important;*/
  background-color: #05CBD1 !important;
}

.group_badge_secret {
  /*background-color: #CDCFDB !important;*/
  background-color: #05CBD1 !important;
}

.group_desc_container {
  word-break: break-word;
}

.gp_main .group_desc .group_desc_container .group_text .group_taggline,  
.gp_main .group_desc .group_desc_container .group_text pre {
  font-size: 1.35rem !important;
  word-break: break-word !important;
  text-align: justify !important;
  font-family: inherit !important;
  white-space: pre-wrap;
  width: 100%;
}

.gp_main .group_desc .group_desc_container .group_text .group_taggline .morecontent .morelink,
.show-more-less-handler,
.group_taggline.show-class a,
.group_taggline.hide-class a {
  font-size: 0.90rem !important;
  color: #388cb3 !important;
}

.file-caption {
  height: 50px !important;
  line-height: 40px !important;
}
.pinned {
    position: fixed;
    top: 0;
    background: #0a0;
    opacity: 1;
}

.show-more-less-handler {

}

.post_action_button {
  margin-left: 10px !important;
  margin-right: 10px !important; 
  background-color:#05CBD1 !important;
  border-color: #05CBD1 !important;
  font-size: 20px !important;
}
