:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-logo
{
    margin-bottom: 1rem;
}

.card-tagline
{
	position: absolute;
	top: 20px;
	right: 40px;
}

.card-tagline img
{
	width: 120px;
}

.card-signin .card-title
{
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.1rem;
    color: #2c3e50;
}


@media (min-width: 992px)
{
    .card-signin .card-title
    {
        font-size: 1.3rem;
    }
		
		.card-tagline img
		{
			width: 140px;
		}
}


.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group, .form-label {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    position: relative;
    background: transparent;
    z-index: 9999;
}

.form-label-group input:focus {
    background: transparent;
    z-index: 9999;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  /* width: 100%; */
  margin-bottom: 0;
  /* Override default `<label>` margin */
  color: #495057;
  border: 1px solid transparent;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.card-message
{
    color:Red;
    text-align:center;
    margin-bottom:1rem;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
