/* followed explore section styles starts */
/* ============================================= */
section.follow_explore_section {
  padding: 75px 0px;
  padding-top: 0px;
  background-color: #fff;
}
section.follow_explore_section .follow_explore_header {
  margin-bottom: 50px;
}
section.follow_explore_section .follow_explore_header
.follow_explore_header_container{
  display: flex;
  justify-content: space-around;
}
section.follow_explore_section .follow_explore_header
.follow_explore_header_container ul li a {
  padding: 0;
  padding: 3px 5px;
  margin: 0 3px;
  font-size: 25px;
  font-weight: 600;
  color: #7B7474;
  cursor: pointer;
  /* font-family: lato-regular; */
  text-transform: capitalize;
  text-decoration: none;
  transition: .3s;
  position: relative;
}

section.follow_explore_section .follow_explore_header
.follow_explore_header_container ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5px;
  background-color: red;
  content: '';
  display: none;
}

section.follow_explore_section .follow_explore_header 
.follow_explore_header_container ul li a:hover {
  color: #15AFE8;
}

section.follow_explore_section .follow_explore_header 
.follow_explore_header_container ul li a.active {
  background-color: transparent;
  color: #15afe8;
}

section.follow_explore_section .follow_explore_header 
.follow_explore_header_container ul li a.active:after {
  display: block;
  background-color: #15AFE8;
}

/* follow explore filter styles */
section.follow_explore_section .follow_explore_filter 
.follow_explore_search_view{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  transition: .5s;
}

section.follow_explore_section .follow_explore_filter 
.follow_explore_search_view form{
  margin: 0 7.5px;
  min-width: 300px;
  width: 35%;
  position: relative;
}

section.follow_explore_section .follow_explore_filter 
.follow_explore_search_view form input{
  font-family: sans-serif;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

@media screen and (max-width: 480px) {
  section.follow_explore_section .follow_explore_filter 
  .follow_explore_search_view form{
    min-width: 200px;
  }
}

section.follow_explore_section .follow_explore_filter 
.follow_explore_search_view form button{
  background-color: #15AFE8;
  text-transform: capitalize;
  font-family: sans-serif;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

section.follow_explore_section .follow_explore_filter 
.follow_explore_search_view .follow_explore_view{
  margin: 0 7.5px;
}

section.follow_explore_section .follow_explore_filter 
.follow_explore_search_view .follow_explore_view a {
  display: flex;
  align-items: center;
  line-height: 16px;
  font-size: 14px;
  text-decoration: none;
  color: #7B7474;
  font-family: sans-serif;
  text-transform: capitalize;
  margin-bottom: 2.25px;
  transition: .3s;
}

section.follow_explore_section .follow_explore_filter 
.follow_explore_search_view .follow_explore_view a:hover {
  color: #15AFE8;
}

section.follow_explore_section .follow_explore_filter 
.follow_explore_search_view .follow_explore_view a i{
  font-size: 25px;
  margin-left: 7.5px;
  line-height: 28px;
}

/* serach sticky styles */
/* ============================ */
section.follow_explore_section .follow_explore_filter 
.follow_explore_search_view.sticky_search{
  position: fixed;
  right: 5px;
  z-index: 100;
  top: 60px;
  transform: translateY(20px);
}

@media screen and (max-width: 480px) {
  section.follow_explore_section .follow_explore_filter 
  .follow_explore_search_view.sticky_search form{
    min-width: 100%;
  }
}

section.follow_explore_section .follow_explore_filter 
.follow_explore_search_view.sticky_search .follow_explore_view{
  display: none;
}


/* explore section start */

section.follow_explore_section .follow_explore_filter
.filter_btn_container .follow_explore_filter_btn{
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  /* layout styles */
  display: flex;
  justify-content: center;
}

section.follow_explore_section .follow_explore_filter
.filter_btn_container .follow_explore_filter_btn button{
  font-family: sans-serif;
  color: #7B7474;
  text-transform: capitalize;
  background-color: #f5f5f5;
}

section.follow_explore_section .follow_explore_filter
.filter_btn_container .follow_explore_filter_btn button.active{
  background-color: #15AFE8;
  color: #fff;
}

/* dropdown styles */
section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list{
  list-style-type: none;
  margin-bottom: 50px;
  text-align: center;
}

section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li{
  padding: 5px;
  position: relative;
  display: inline-block;
}

section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li a{
  text-decoration: none;
  color: #7B7474;
  font-family: sans-serif;
  text-transform: capitalize;
  transition: .3s;
  display: block;
}
section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li
a.expanded_dropdown{
  color: #15AFE8;
}

section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li a:hover{
  color: #15AFE8;
}

section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li a.active{
  color: #15AFE8;
}

/* for select box */
section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li select{
  text-decoration: none;
  color: #7B7474;
  font-family: sans-serif;
  text-transform: capitalize;
  transition: .3s;
  display: block;
}

section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li select:hover{
  color: #15AFE8;
}

section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li
ul.secondery_dropdown_list{
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 1px 2.5px 0px silver;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
}

section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li
ul.expanded_dropdown{
  display: block;
}

section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li
ul.secondery_dropdown_list{
  text-align: left;
}

section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li
ul.secondery_dropdown_list li{
  display: block;
  padding: 5px 10px;
  transition: .3s;
}

section.follow_explore_section .follow_explore_filter
.filter_dropdown_container .filter_dropdown ul.main_dropdown_list li
ul.secondery_dropdown_list li:hover{
  background-color: rgba(0, 0, 0, .1)
}

/* main slider styles */
section.follow_explore_section .follow_explore_container
#follow_slider_container,
section.follow_explore_section .follow_explore_container
#explore_slider_container,
section.follow_explore_section .follow_explore_container
#created_slider_container {
  margin-bottom: 20px;
}

/* default Item styles */
.default_item{
  min-height: 250px;
  padding: 35px;
  border-radius: 10px
}

.default_item .default_text{
  padding-right: 25px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  /* image is varry so it is not here */
  background-position: right bottom;
  background-size: 110px;
  background-repeat: no-repeat;
}

.default_item .default_text h4{
  font-family: sans-serif;
  font-size: 23px;
  line-height: 1;
  margin-bottom: 15px;
  color: #0D859B;
}

.default_item .default_text p{
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.15;
  font-weight: 300;
  padding-right: 80px;
  color: #0D859B;
  margin: 0; 
}

.default_item .default_btn{
  text-align: center;
}

.default_item .default_btn a{
  background-color: #30BFD8;
  color: #fff;
  margin: 0 auto;
  min-width: 150px;
  font-size: 16px;
  padding: 10px 15px;
  border: 2.5px solid #30BFD8;
  /* font-family: moon-bold; */
  border-radius: 25px;
  transition: .3s;
}


.default_item .default_btn a:hover{
  color: #30BFD8;
  background-color: transparent;
}


/* separate background color image for create and explore */
.create_item{
  background-color: #D5FEFF;
}

.create_item .default_text{
  background-image: url('../../img/create_group.png');
}

.explore_item{
  background-color: #E0E87E;
}

.explore_item .default_text{
  background-image: url('../../img/default_two.png');
}

.explore_item .default_text h4,
.explore_item .default_text p {
  color: #3888CD;
}

.explore_item .default_btn a{
  background-color: #D4FEFD;
  color: #3888CD;
  border: 2.5px solid #D4FEFD;
}

.explore_item .default_btn a:hover{
  color: #3888CD;
  border: 2.5px solid #3888CD;
}


.create_topic{
  background-color: #4C80BC;
}

.create_topic .default_text{
  background-image: url('../../img/create_topic.png');
  background-size: 210px;
  background-position-x: 120px;
}
.create_topic .default_text h4,
.create_topic .default_text p {
  color: #fff;
}

.create_topic .default_btn a{
  background-color: #6D0B80;
  color: #fff;
  border: 2.5px solid #6D0B80;
}

.create_topic .default_btn a:hover{
  color: #6D0B80;
  border: 2.5px solid #6D0B80;
}

.board_item figure {
  width: 100%;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.board_item figure .lock_indicator{
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: #B13F3A
}

.board_item figure .lock_indicator i{
  line-height: 23px;
  font-size: 14px;
}

.board_item figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 20px;
  opacity: 0;
  transition: 0.3s;
  background-image: linear-gradient(transparent 0%, #010 100%);
  display: flex;
  justify-content: space-between;
}
.board_item figure figcaption .save_follow {
  display: inline-block;
  padding: 0px;
  margin: 0;
  transform: translateY(30%);
}
.board_item figure figcaption .save_follow a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-transform: capitalize;
  transition: 0.3s;
  margin-right: 10px;
  text-decoration: none;
}
.board_item figure figcaption .save_follow a:hover {
  color: #388CB3;
}
.board_item figure figcaption .more_option {
  display: inline-block;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-transform: capitalize;
  transform: translateY(30%);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.board_item figure figcaption .more_option:hover {
  color: #388CB3;
}
.more_option ul {
  list-style-type: none;
  position: absolute;
  bottom: 0px;
  right: 0;
  opacity: 0;
  transition: 0.2s;
  height: 0px;
  min-width: 120px;
  overflow: hidden;
}
.board_item figure figcaption .more_option ul li {
  padding: 1.5px 3px;
  margin-top: 1.5px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: left;
  transition: 0.3s;
}
.board_item figure figcaption .more_option ul li a {
  display: block;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.board_item figure figcaption .more_option ul li:hover {
  background-color: white;
}

.board_item figure figcaption .more_option ul li:hover a {
  color: #388CB3;
}
.board_item figure figcaption .more_option ul.expanded_more {
  height: 120px;
  opacity: 1;
}
.board_item figure img {
  min-width: 100%;
  min-height: 250px;
  max-height: 250px;
}
.board_item figure:hover figcaption {
  opacity: 1;
}
.board_item figure:hover figcaption p {
  transform: translateY(0);
}
.board_item .board_info {
  display: block;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 2.5px;
}
.board_item .board_info .board_title {
  padding: 0;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  width: 100%;
  display: block;
}
.board_item .board_info .board_title a {
  display: inline-block;
  color: #15AFE8;
  /* font-family: moon-bold; */
  line-height: 1;
  margin-right: 5px;
  margin-bottom: 5px;
}
.board_item .board_info .board_title a:hover {
  text-decoration: underline;
}
.board_item .board_info .board_metta a:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  background-color: #7B7474;
  border-radius: 2px;
  color: #fff;
  padding: 2px 4px;
  transition: 0.3s;
  text-decoration: none;
  margin-right: 0px;
}
.board_item .board_info .board_metta a:first-child:hover {
  background-color: #15AFE8;
  color: #fff;
}
.board_item .board_info .board_metta {
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  display: block;
}
.board_item .board_info .board_metta a {
  /* margin-left: 5px; */
  color: #7B7474;
  text-decoration: none;
}
.board_item .board_info .board_metta a i {
  color: #7B7474;
  transition: 0.3s;
}
.board_item .board_info .board_metta a:hover i {
  color: #15AFE8;
}

.create_post{
  background-color: #f7ebee;
}

.create_post .default_text{
  background-image: url('../../img/create_post.png');
  background-size: 100px;
}
.create_post .default_text h4,
.create_post .default_text p {
  color: #f736a1;
}

.create_post .default_btn a{
  background-color: #f736a1;
  color: #fff;
  border: 2.5px solid #f736a1;
}

.create_post .default_btn a:hover{
  color: #f736a1;
  border: 2.5px solid #f736a1;
}

.post_item .post_summary .board_metta a:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  background-color: #7B7474;
  border-radius: 2px;
  color: #fff;
  padding: 2px 4px;
  transition: 0.3s;
  text-decoration: none;
  margin-right: 0px;
}

.post_item .post_summary .board_metta a:first-child:hover {
  background-color: #15AFE8;
  color: #fff;
}

.post_item .post_summary .board_metta {
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  display: block;
}

.post_item .post_summary .board_metta a {
  /* margin-left: 5px; */
  color: #7B7474;
  text-decoration: none;
}

.post_item .post_summary .board_metta a i {
  color: #7B7474;
  transition: 0.3s;
}

.post_item .post_summary .board_metta a:hover i {
  color: #15AFE8;
}

.post_item .post_img .lock_indicator {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: #B13F3A;
}

.post_item .post_img .lock_indicator i{
  line-height: 23px;
  font-size: 14px;
}

/* followure suggested section responsive styles */
/* ================================================================ */
@media screen and (max-width: 768px) {
  section.follow_explore_section {
    padding: 25px 0px;
  }
  section.follow_explore_section .follow_explore_header {
    padding: 15px 0;
    margin-bottom: 50px;
  }
  section.follow_explore_section .follow_explore_header .follow_explore_header_container ul {
    justify-content: center;
  }
  section.follow_explore_section .follow_explore_header .follow_explore_header_container ul li a {
    color: #7B7474;
  }

  .default_item .default_text h4 {
    padding-right: 80px;
  }
}
@media screen and (max-width: 575px) {
  .board_item {
    width: calc(100vw - 30px);
  }
  .board_item img {
    min-height: auto !important;
  }
}

@media only screen and (max-width: 480px) {
  section.follow_explore_section {
    padding: 25px 0;
  }
  section.follow_explore_section .follow_explore_header
  .follow_explore_header_container ul li a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 350px) {
  section.follow_explore_section .follow_explore_header
  .follow_explore_header_container ul li a {
    font-size: 16px;
  }
}


/* pinned board styles */
.pinned_board i{
  transform: rotate(25deg);
}

.additional_icons {
  float: right;
  margin-left: 10px;
}

/* ad section start */
/* =========================================================== */
section.ad_section{
  padding: 35px 0;
  background-color: #F5F5F5;
}

section.ad_section .user_ad_slider img{
  height: 250px;
  width: auto;
}

/* popular post section */
/* ============================================================= */
section.user_popular_post{
  padding: 75px 0px;
}

section.user_popular_post .user_popular_post_header
h2{
  color: #7B7474;
}

.post_item{
  border-radius: 10px;
}

.post_item .post_img{
  position: relative;
}


.post_item .post_img img{
  border-radius: 10px;
  height: 250px;
}

.post_item .post_img .post_img_inner{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 20px;
  opacity: 0;
  transition: 0.3s;
  background-image: linear-gradient(transparent 0%, #010 100%);
  display: flex;
  justify-content: space-between;
}

.post_item .post_img:hover .post_img_inner{
  opacity: 1;
}


.post_item .post_img .post_img_inner .save_follow{
  display: inline-block;
  padding: 0px;
  margin: 0;
  transform: translateY(30%);
}

.post_item .post_img .post_img_inner .save_follow a{
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-transform: capitalize;
  transition: 0.3s;
  margin-right: 10px;
  text-decoration: none;
}

.post_item .post_img
.post_img_inner .save_follow a:hover{
  color: #388CB3;
}


.post_item .post_img
.post_img_inner .more_option{
  display: inline-block;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-transform: capitalize;
  transform: translateY(30%);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.post_item .post_img
.post_img_inner .more_option:hover{
  color: #388CB3;
}

.post_item .post_img
.post_img_inner .more_option ul{
  list-style-type: none;
  position: absolute;
  bottom: 0px;
  right: 0;
  opacity: 0;
  transition: 0.2s;
  height: 0px;
  min-width: 90px;
  overflow: hidden;
}

.post_item .post_img
.post_img_inner .more_option ul li{
  padding: 1.5px 3px;
  margin-top: 1.5px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: left;
  transition: 0.3s;
}

.post_item .post_img
.post_img_inner .more_option ul li a{
  display: block;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.post_item .post_img
.post_img_inner .more_option ul li:hover{
  background-color: white;
}

.post_item .post_img
.post_img_inner .more_option ul li:hover a{
  color: #388CB3;
}

.post_item .post_img
.post_img_inner .more_option ul.expanded_more{
  height: 120px;
  opacity: 1;
}

.post_item  .post_summary{
  padding: 20px;
}

.post_item  .post_summary .post_title{
  font-size: 25px;
  text-decoration: none;
  font-family: sans-serif;
  transition: .3s;
  color: #7B7474;
}

.post_item  .post_summary .post_title:hover{
  color: #15AFE8;
}

.post_item  .post_summary .post_text{
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: 22px;
  font-size: 16px;
  color: #7B7474;
  height: 60px;
}

.post_item  .post_summary a.author_info{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #7B7474;
}

.post_item  .post_summary a.author_info:hover h5{
  color: #15AFE8;
}

.post_item  .post_summary .author_info img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid silver;
  margin-right: 10px;
}

.post_item  .post_summary .author_info .author_name h5{
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  margin: 0;
  transition: .3s;
}

.post_item  .post_summary .author_info .author_name p{
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  margin: 0;
  font-family: sans-serif;
  text-transform: capitalize;
}




/* styles for view all button */
.view_all {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
.view_all a {
  padding: 10px 20px;
  border: 2px solid #15AFE8;
  border-radius: 10px;
  text-decoration: none;
  color: #15AFE8;
  /* font-family: moon-bold; */
  transition: 0.3s;
  text-transform: capitalize;
  margin: 5px;
  margin-bottom: 25px;
}

.view_all a.active {
  background-color: #15AFE8;
  color: #fff!important;
}
.view_all a:hover {
  background-color: #15AFE8;
  color: #fff;
}

/* featered suggested slider styel overwrite */
/* ============================================== */
.feat_sugst_section{
  padding: 50px 0;
  background-color: #385776;
  margin-bottom: 75px;
}

.feat_sugst_section .feat_sugst_header .feat_sugst_header_container{
  display: flex;

  margin-bottom: 50px;
}

.feat_sugst_section .feat_sugst_header .feat_sugst_header_container ul{
  justify-content: center;
}

.feat_sugst_section .feat_sugst_header .feat_sugst_header_container
ul li a{
  font-size: 40px;
  color: #fff;
   font-family: montserrat-regular;
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  .feat_sugst_section .feat_sugst_header
  .feat_sugst_header_container
  ul li a{
    font-size: 18px;
  }
}

.feat_sugst_section .feat_sugst_header .feat_sugst_header_container
ul li a.active{
  text-decoration: underline !important;
	text-underline-offset: 10px;
}

.feat_sugst_container .board_item .board_info .board_title a{
  color: #fff;
}

.feat_sugst_container .board_item .board_info
.board_title a:last-child{
  /* background-color: #15AFE8; */
  color: #fff;
}

.feat_sugst_container .board_item .board_info
.board_title a:last-child:hover{
  /* background-color: #fff; */
  color: #15AFE8;
}

.feat_sugst_container .board_item
.board_info .board_metta a,
.feat_sugst_container .board_item
.board_info .board_metta a i{
  color: #fff;
}

.feat_sugst_container .board_item
.board_info .board_metta a:hover i{
  color: #15AFE8;
}
