<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
<section class="pricing py-5">
	<div class="container">
		<div class="row">
			<!-- Free Tier -->
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<div class="card-body">
						<h5 class="card-title text-muted text-uppercase text-center">Free</h5>
						<h6 class="card-title text-center">PHP<span
								class="card-price text-center">0<span class="period">/month</span></h6>
						<h6 class="card-title text-muted text-uppercase text-center">No Payment Required</h6>
						<hr>
						<ul class="fa-ul">
							<li><span class="fa-li"><i class="fas fa-check"></i></span>One Group (Public or Private)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Members</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>5MB Storage</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Board Postings</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>One Board Posting in Private Mode (with Select Members of the Group only)</li>

							<li><span class="fa-li"><i class="fas fa-check"></i></span>Max 6 Group Categories/Subcategories (any combination)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>One Board Posting with Mute/Unmute Select Members Feature</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Max 5 Task Assignments/To Do's per Registered Member</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>User Profile Dashboard & Notifications for Registered Members</li>

							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Sub-groups for multiple divisions / department's use</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Sub-groups own set of Categories/Subcategories (any combination)</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Priority Support </li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Limited FREE Monthly Subscription</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Limited FREE Offer: Customize your group page (background and fonts)</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Limited FREE Offer: Feature (Promote) your Group in the Site</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Limited PROMO Offer: Display your Ad on your Group's Join & Pending Request pages for only PHP299</li>

						</ul>
						<div class="d-grid">
							<a href="#" class="btn btn-primary text-uppercase check_group">Choose</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Plus Tier -->
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<div class="card-body">
						<h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
						<h6 class="card-title text-center">PHP<span
								class="card-price text-center">599<span class="period">/month</span></h6>

						<h6 class="card-title text-muted text-uppercase text-center">Billed Annually</h6>

						<hr>
						<ul class="fa-ul">
							<li><span class="fa-li"><i class="fas fa-check"></i></span>One Group (Public or Private)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Members</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Board Postings</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Board Posting in Private Mode (with Select Members of the Group only)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Max 15 Group Categories/Subcategories (any combination)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Board Posting with Mute/Unmute Select Members Feature</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Task Assignments/To Do's per Registered Member</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>User Profile Dashboard & Notifications for Registered Members</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Sub-groups for multiple divisions / department's use</li>
							<li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Sub-groups own set of Categories/Subcategories (any combination)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Priority Support </li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Limited FREE Offer: 3 Months Subscription</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Limited FREE Offer: Customize your Group Page (background and fonts)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Limited FREE Offer: Feature (Promote) your Group in the Site</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Limited PROMO Offer: Display your Ad on your Group's Join & Pending Request pages for only PHP299</li>


						</ul>
						<div class="d-grid">
							<a href="#" class="btn btn-primary text-uppercase check_group">Choose</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Pro Tier -->
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<div class="card-body">
						<h5 class="card-title text-muted text-uppercase text-center">PRO</h5>
						<h6 class="card-title text-center">PHP<span
								class="card-price text-center">899<span class="period">/month</span></h6>

						<h6 class="card-title text-muted text-uppercase text-center">Billed Annually</h6>

						<hr>
						<ul class="fa-ul">
							<li><span class="fa-li"><i class="fas fa-check"></i></span>One Group (Public or Private)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Members</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>10GB Storage</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Board Postings</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Board Posting in Private Mode (with Select Members of the Group only)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Max 15 Group Categories/Subcategories (any combination)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Board Posting with Mute/Unmute Select Members Feature</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Task Assignments/To Do's per Registered Member</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>User Profile Dashboard & Notifications for Registered Members</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>5 Sub-groups for multiple divisions / department's use</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Sub-groups own set of 6 Categories/Subcategories (any combination)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Priority Support </li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Limited FREE Offer: 3 Months Subscription</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Limited FREE Offer: Customize your Group Page (background and fonts)</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Limited FREE Offer: Feature (Promote) your Group in the Site</li>
							<li><span class="fa-li"><i class="fas fa-check"></i></span>Limited PROMO Offer: Display your Ad on your Group's Join & Pending Request pages for only PHP299</li>


						</ul>
						<div class="d-grid">
							<a href="#" class="btn btn-primary text-uppercase check_group">Choose</a>
						</div>
					</div>
				</div>
			</div>
</section>

<style>
	section.pricing {
		background: #007bff;
		background: linear-gradient(to right, #33AEFF, #398cb3);
	}

	.pricing .card {
		border: none;
		border-radius: 1rem;
		transition: all 0.2s;
		box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
	}

	.pricing hr {
		margin: 1.5rem 0;
	}

	.pricing .card-title {
		margin: 0.5rem 0;
		font-size: 0.9rem;
		letter-spacing: .1rem;
		font-weight: bold;
	}

	.pricing .card-price {
		font-size: 3rem;
		margin: 0;
	}

	.pricing .card-price .period {
		font-size: 0.8rem;
	}

	.pricing ul li {
		margin-bottom: 1rem;
	}

	.pricing .text-muted {
		opacity: 0.7;
	}

	.pricing .btn {
		font-size: 80%;
		border-radius: 5rem;
		letter-spacing: .1rem;
		font-weight: bold;
		padding: 1rem;
		opacity: 0.7;
		transition: all 0.2s;
	}

	/* Hover Effects on Card */

	@media (min-width: 992px) {
		.pricing .card:hover {
			margin-top: -.25rem;
			margin-bottom: .25rem;
			box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
		}

		.pricing .card:hover .btn {
			opacity: 1;
		}
	}
	/*.row>*{*/
	/*	width: 0px!important;*/
	/*}*/
	a.sub_nav_container  i.fas.fa-angle-down {
		position: absolute;
		margin-left: -3px;
		margin-top: 2px;
	}
	a.sub_nav_container i.fas.fa-user-circle {
		margin-left: -17px!important;
	}
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
