.default_item {    
	min-height: 218px;
    padding: 18px 30px;
    border-radius: 20px;	
}

button.board-link {
	outline: none;
	border: none;
}

.topic-thumbnail {
	border-radius: 25px;
	height: 220px;
	object-fit: cover;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.privacy-key {
    height: 25px;
    width: 25px !important;
    right: 25px;
    top: 10px;
}
.image_area {
	position: relative;
}

img {
	display: block;
	max-width: 100%;
}

.preview {
	overflow: hidden;
	width: 300px; 
	height: 300px;
	margin: 10px;
	border: 1px solid red;
}

.modal-lg{
	max-width: 1000px !important;
}

.image_area:hover .overlay {
	height: 50%;
	cursor: pointer;
}

.modal-footer {
	padding: 1rem;
}
