.image_area {
	position: relative;
}

img {
	display: block;
	/*max-width: 100%;*/
}
.modal img{
	display: block;
	max-width: 100%;
}
.preview {
	overflow: hidden;
	width: 300px;
	height: 300px;
	margin: 10px;
	border: 1px solid red;
}

.modal-lg{
	max-width: 1000px !important;
}

.image_area:hover .overlay {
	height: 50%;
	cursor: pointer;
}

.modal-footer {
	padding: 1rem;
}

.postImage {
  height: 220px !important;
  width: 220px !important;
}


.admin-msg {
    margin-left: 0px !important;
    border-radius: 0.50rem !important;
    margin-bottom: 0px !important;
}

.comment-wrapper {
	border: none !important;
}
.attachment-preview {
	padding-left: 0 !important;
	padding-right: 0 !important;
	flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    position: relative;
	margin-bottom: 5px !important;
}
.attachments-row {
	display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.attachment-preview img {
	height: 220px !important;
    width: 220px !important;
    object-fit: cover;
        padding: 0 !important;
            background-color: #fff;
    border: 0.125rem solid #dee2e6;
    border-radius: 0.5rem;
    max-width: 100%;
    vertical-align: middle;
    margin-left: 10px;
}
.attachment-preview a {
	border: none;
	margin:0 !important;
}

/* secondery items tsyle */
.more-options {
  position: relative;
}

.more-options.slided::before {
  position: absolute;
  top: -10px;
  left: 19px;
  width: 80px;
  height: 150px;
  z-index: 0;
  content: '';
  background-color: transparent;
}

@media only screen and (max-width: 767px) {
  .more-options.slided::before {
    left: -69px;
  }
}

.more-options ul.more-action-dropdown {
  position: absolute;
  top: -3px;
  left: 75px;
  background-color: #fff;
  width: 200px;
  max-height: 100vh;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px grey;
  overflow: visible;
  z-index: 999;
  transition: .3s;
  display: none;
}

@media only screen and (max-width: 767px) {
  .more-options ul.more-action-dropdown {
    left: auto;
    right: 35px;
  }
}

.more-options ul.more-action-dropdown.slided {
  display: block;
  animation-name: fadeInAnimation;
  animation-duration: .3s;
}

.more-options ul.more-action-dropdown::before {
  position: absolute;
  top: 10px;
  left: -8px;
  transform: translateX(-50%);
  height: 15px;
  width: 15px;
  content: '';
  background-color: transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid grey;
}

@media only screen and (max-width: 767px) {
  .more-options ul.more-action-dropdown::before {
    left: auto;
    right: -45px;
    border-right: 15px solid transparent;
    border-left: 15px solid grey;
  }
}

.more-options ul.more-action-dropdown::after {
  position: absolute;
  top: 10px;
  left: -8px;
  transform: translateX(-50%);
  height: 15px;
  width: 15px;
  content: '';
  background-color: transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  right: -20px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .more-options ul.more-action-dropdown::after {
    left: auto;
    right: -45px;
    border-right: 15px solid transparent;
    border-left: 15px solid #fff;
  }
}

.more-options ul.more-action-dropdown li {
  padding: 10px 15px;
  transition: .3s;
  display: block;
  border-bottom: 1px solid #f5f5f5;
}

.more-options ul.more-action-dropdown li:hover {
  background-color: #f5f5f5;
}

.more-options ul.more-action-dropdown li a {
  font-size: 16px;
  text-transform: capitalize;
  font-family: lato-regular;
  text-decoration: none;
  line-height: 1.1;
  display: block;
}
