
i.fa-camera {
	margin-right: 10px;
}
.image_area {
	position: relative;
}

img {
	display: block;
	max-width: 100%;
}

.preview {
	/*overflow: hidden;*/
	/*width: 300px; */
	/*height: 300px;*/
	/*margin: 10px;*/
	border: 1px solid red;
}

.modal-lg{
	max-width: 1000px !important;
}

.image_area:hover .overlay {
	height: 50%;
	cursor: pointer;
}

.modal-footer {
	padding: 1rem;
}
