
.bootstrap-tagsinput,
.bootstrap-tagsinput input{
	width: 90%;	
}
.label-info{
	background-color: #5bc0de;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
	border-radius: .25em;
}
i.fa-camera {
	margin-right: 10px;
}
.image_area {
    position: relative;
}

img {
    display: block;
    max-width: 100%;
}

.preview {
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid red;
}

.modal-lg{
    max-width: 1000px !important;
}

.image_area:hover .overlay {
    height: 50%;
    cursor: pointer;
}

.modal-footer {
    padding: 1rem;
}
