
  /* ========================================================== */
/* modal styles start here */
.group_info_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* overflow-y: scroll; */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: none;
    }
    
    .group_info_container.popped {
    display: block;
    }
    
    .group_info_container .modal_item {
    width: 65%;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    margin: 5% auto;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    transition: .3s;
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    .group_info_container .modal_item::-webkit-scrollbar {
    display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .group_info_container .modal_item {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }
    
    
    
    .group_info_container .modal_item.popped {
    display: block;
    }
    
    @media only screen and (max-width: 991px) {
    .group_info_container .modal_item {
        width: 85%;
    }
    }
    
    @media only screen and (max-width: 575px) {
    .group_info_container .modal_item {
        width: 95%;
        padding: 25px;
        padding-top: 50px;
    }
    }
    
    .group_info_container .modal_item .modal_closer {
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
    padding: 10px 12.5px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    }
    
    .group_info_container .modal_item .modal_closer:hover {
    background-color: red;
    color: #fff;
    }
    
    .group_info_container .modal_item .invite_option {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
    @media only screen and (max-width: 480px) {
    .group_info_container .modal_item .invite_option {
        align-items: start;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    }
    
    @media only screen and (max-width: 480px) {
    .group_info_container .modal_item .invite_option span {
        width: 100%;
    }
    }
    
    .group_info_container .modal_item .invite_option button {
    margin: 5px 0;
    margin-right: 15px;
    /* font-family: montserrat-regular; */
    text-transform: capitalize;
    }
    
    .group_info_container .modal_item .invite_option button.add_btn{
    background-color: #15AFE8;
    color: #fff;
    border: 2px solid #15AFE8;
    transition: .3s;
    }
    
    .group_info_container .modal_item .invite_option button.add_btn:hover{
    background-color: transparent;
    color: #15AFE8;
    }
    
    @media only screen and (max-width: 480px) {
    .group_info_container .modal_item .invite_option button {
        font-size: 14px;
        margin: 5px;
    }
    }
    
    .group_info_container .modal_item .invite_option a {
    margin: 10px 0;
    /* font-family: lato-bold; */
    text-transform: uppercase;
    font-size: 18px;
    color: #15AFE8;
    text-decoration: none;
    transition: .3s;
    }
    
    @media only screen and (max-width: 480px) {
    .group_info_container .modal_item .invite_option a {
        font-size: 16px;
        margin-top: 15px;
    }
    }
    
    .group_info_container .modal_item .invite_option a:hover {
    color: #7B7474;
    }
    
    .group_info_container .modal_item .search_member {
    position: relative;
    margin-bottom: 50px;
    }
    
    .group_info_container .modal_item .search_member input {
    padding-right: 105px;
    /* font-family: lato-regular; */
    }
    
    .group_info_container .modal_item .search_member button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    background-color: #15AFE8;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    }
    
    .group_info_container .modal_item a.share_link {
    margin-bottom: 35px;
    text-decoration: none;
    display: flex;
    align-items: center;
    }
    
    .group_info_container .modal_item a.share_link span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    color: #333;
    }
    
    .group_info_container .modal_item a.share_link span i {
    font-size: 20px;
    line-height: 48px;
    transition: .3s;
    }
    
    .group_info_container .modal_item a.share_link span i:hover {
    color: #15AFE8;
    }
    
    .group_info_container .modal_item a.share_link p {
    width: calc( 100% - 65px);
    font-size: 18px;
    margin: 0;
    line-height: 1.1;
    /* font-family: lato-bold; */
    color: #333;
    transition: .3s;
    }
    
    .group_info_container .modal_item a.share_link p:hover {
    color: #15AFE8;
    }
    
    .group_info_container .modal_item ul.suggest_members {
    list-style-type: none;
    }
  ul.suggest_members {
	  list-style-type: none;
  }
    .group_info_container .modal_item ul.suggest_members li {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
  ul.suggest_members li {
	  margin: 15px 0;
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
  }

  .group_info_container .modal_item ul.suggest_members li .user_name_img {
    display: flex;
    align-items: center;
    }
  ul.suggest_members li .user_name_img {
	  display: flex;
	  align-items: center;
  }

  .group_info_container .modal_item ul.suggest_members li .user_name_img img {
    height: 50px;
    /*width: 50px;*/
    border-radius: 50%;
    /*margin-right: 15px;*/
    }
  ul.suggest_members li .user_name_img img {
	  height: 50px;
	  /*width: 50px;*/
	  border-radius: 50%;
	  /*margin-right: 15px;*/
  }
    .group_info_container .modal_item ul.suggest_members li .user_name_img p {
    margin: 0;
    /* font-family: montserrat-bold; */
    }
  ul.suggest_members li .user_name_img p {
	  margin: 0;
	  /* font-family: montserrat-bold; */
  }
    .group_info_container .modal_item ul.suggest_members li
    .add_member_btn.added_member{
    background-color: #15AFE8;
    /* font-family: moon-bold; */
    padding: 5px 20px;
    color: #fff;
    }
  ul.suggest_members li
  .add_member_btn.added_member{
	  background-color: #15AFE8;
	  /* font-family: moon-bold; */
	  padding: 5px 20px;
	  color: #fff;
  }
    .group_info_container .modal_item.user_role h6 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
    /* font-family: montserrat-bold; */
    }
  .user_role h6 {
	  text-align: center;
	  margin-bottom: 25px;
	  font-size: 22px;
	  /* font-family: montserrat-bold; */
  }
    .group_info_container .modal_item.user_role h6 a{
    /* font-family: lato-regular; */
    color: #15AFE8;
    font-size: 18px;
    }
    
    .group_info_container .modal_item.user_role .search_member {
    margin-bottom: 25px;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 25px;
    }
    
    .group_info_container .modal_item.user_role ul.user_role_list {
    list-style-type: none;
    margin-bottom: 25px;
    }
    
    @media only screen and (max-width: 767px) {
    .group_info_container .modal_item.user_role ul.user_role_list {
        text-align: center;
        margin-bottom: 50px;
    }
    }
    
    .group_info_container .modal_item.user_role ul.user_role_list li {
    display: inline-block;
    padding: 10px;
    }
    
    @media only screen and (max-width: 767px) {
    .group_info_container .modal_item.user_role ul.user_role_list li {
        padding: 0 5px;
        padding-bottom: 5px;
    }
    }
    
    .group_info_container .modal_item.user_role ul.user_role_list li a {
    font-size: 17px;
    /* font-family: lato-bold; */
    color: #7B7474;
    transition: .3s;
    font-weight: bold;
    }
    
    .group_info_container .modal_item.user_role ul.user_role_list li a.active {
    color: #15AFE8;
    }
    
    .group_info_container .modal_item.user_role ul.user_role_list li a:hover {
    color: #15AFE8;
    }
    
    .group_info_container .modal_item.user_role ul.suggest_members li {
    align-items: start;
    margin-bottom: 25px;
    }
    
    @media only screen and (max-width: 575px) {
    .group_info_container .modal_item.user_role ul.suggest_members li {
        flex-direction: column;
    }
    }
    
    .group_info_container .modal_item.user_role ul.suggest_members li .user_name_img {
    align-items: start;
    width: calc( 100% - 155px);
    }
    
    @media only screen and (max-width: 575px) {
    .group_info_container .modal_item.user_role ul.suggest_members li .user_name_img {
        width: 100%;
    }
    }
    
    .group_info_container .modal_item.user_role ul.suggest_members li .user_name_img p span {
    font-size: 16px;
    line-height: 18px;
    color: #7b7474;
    /* font-family: lato-regular; */
    display: block;
    }
