
.image_area {
	position: relative;
}

img {
	display: block;
	max-width: 100%;
}

.preview {
	overflow: hidden;
	width: 300px; 
	height: 300px;
	margin: 10px;
	border: 1px solid red;
}

.modal-lg{
	max-width: 1000px !important;
}

.image_area:hover .overlay {
	height: 50%;
	cursor: pointer;
}

.modal-footer {
	padding: 1rem;
}
.member_list {
    margin-bottom: 50px;
    padding: 15px;
}
.member_list h4.permission_header {
    padding: 25px;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 28px;
    color: #000;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.member_list .member_list_container {
    border-top: none;
    padding: 15px 0;
    background-color: #fff;
}
.member_list .member_list_container .member_item {
    padding: 15px;
    padding-bottom: 30px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: sticky;
    z-index: 100;
    display: flex;
    transition: .3s;
}
.member_list .member_list_container .member_item .member_img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;

    border: 2px solid silver;
    overflow: hidden;




}
.member_list .member_list_container .member_item .member_img img {
    width: 100%;
    height: 100%;
}
.member_list .member_list_container .member_item .member_text {
    width: calc(100% - 165px);
}
.member_list .member_list_container .member_item .member_text h4 {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
}
.member_list .member_list_container .member_item .member_text h4 span {
    text-transform: capitalize;
    font-weight: 600;
    color: #333;
}
.member_list .member_list_container .member_item .member_text p {
    font-size: 14px;
    line-height: 1.25;
    color: #7B7474;
    font-family: sans-serif;
    margin: 0;
}
.member_list .member_list_container .member_item .member_control {
    text-align: right;
    position: relative;
    margin-left: 5px;
}
.member_list .member_list_container .member_item .member_control p.member_badge {
    max-width: 80px;
    display: inline-block;
    margin-left: 10px;
    background-color: #FFB000;
    border-radius: 5px;
    padding: 2.5px 5px;
    line-height: 1.3;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    visibility: visible;
    opacity: 1;
}
.member_list .member_list_container .member_item .member_control .member_btn {
    opacity: 0;
}
.member_list .member_list_container .member_item .member_control .member_btn a {
    width: 80px;
    height: 27px;
    border: 2px solid #73BF9D;
    line-height: 23px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    background-color: #73BF9D;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    text-transform: uppercase;
}
