html {
  scroll-behavior: smooth;
}

.nav {
  display: inherit !important;
}

.postImage {
  height: 220px !important;
  width: 220px !important;
}

.image_area {
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

.preview {
  overflow: hidden;
  width: 300px; 
  height: 300px;
  margin: 10px;
  border: 1px solid red;
}

.modal-lg{
  max-width: 1000px !important;
}

.image_area:hover .overlay {
  height: 50%;
  cursor: pointer;
}

.modal-footer {
  padding: 1rem;
}
.file-preview-image {
  margin: auto;
}
.file-footer-buttons .btn-outline-secondary {
  line-height: 24px !important;
}
.file-caption-main button {  line-height: 24px !important;
  border-radius: 0px !important;
}