
/* ad section style start */
/* ======================================== */
section.ad_section {
  padding: 25px 0px;
  background-color: #F5F5F5;
}
section.ad_section .ad_slider_container .item {
  border-radius: 5px;
  overflow: hidden;
  height: 200px;
  width: 150px;
}
section.ad_section .ad_slider_container .item a {
  display: block;
  text-align: center;
  height: 100%;
}
section.ad_section .ad_slider_container .item a img {
  min-height: 100%;
  min-width: 100%;
}
section.ad_section .ad_slider_container .item.third_item {
  width: 320px;
}

/* ad section responsive styles */
/* ======================================= */
@media screen and (max-width: 768px) {
  section.ad_section {
    padding: 25px 0px;
  }
}
/* about section styles start */
/* ======================================= */
section.about_section {
  padding: 50px 0px;
  padding-top: 25px;
  background-color: #fff;
}
section.about_section .about_slider_container .item article {
  display: flex;
  align-items: center;
}
section.about_section .about_slider_container .item article .about_text {
  width: 40%;
}
section.about_section .about_slider_container .item article .about_text h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: -1px;
  font-weight: 500;
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
  color: #7B7474;
  display: block;
}
section.about_section .about_slider_container .item article .about_text h1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  content: "";
  background-color: #15AFE8;
}
section.about_section .about_slider_container .item article .about_text p {
  font-size: 1.3rem;
  line-height: 1.3;
  color: #7B7474;
}
section.about_section .about_slider_container .item article figure {
  width: 60%;
}

/* about section responsive styles*/
/* =============================================== */
@media screen and (max-width: 991px) {
  section.about_section {
    padding-top: 50px;
  }
  section.about_section .about_slider_container .item article {
    flex-direction: column;
  }
  section.about_section .about_slider_container .item .about_text,
section.about_section .about_slider_container .item figure {
    width: 100% !important;
  }
  section.about_section .about_slider_container .item .about_text h1,
section.about_section .about_slider_container .item .about_text p,
section.about_section .about_slider_container .item figure h1,
section.about_section .about_slider_container .item figure p {
    text-align: center;
    padding: 0 15%;
  }
  section.about_section .about_slider_container .item .about_text h1:after,
section.about_section .about_slider_container .item .about_text p:after,
section.about_section .about_slider_container .item figure h1:after,
section.about_section .about_slider_container .item figure p:after {
    left: 50% !important;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 768px) {
  section.about_section {
    padding: 50px 0px;
  }
  section.about_section .item article .about_text h1 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 30px !important;
    font-size: 35px !important;
    line-height: 40px !important;
    transform: translateX(-5%);
  }
  section.about_section .item article .about_text h1 span {
    display: block;
  }
  section.about_section .item article .about_text h1 span:nth-child(2) {
    padding-left: 10%;
  }
  section.about_section .item article .about_text h1 span:nth-child(3) {
    padding-left: 20%;
  }
  section.about_section .item article .about_text p {
    font-size: 18px !important;
    line-height: 22px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media screen and (max-width: 480px) {
  section.about_section {
    padding: 50px 0px;
    padding-bottom: 10px;
  }
  section.about_section .item article .about_text h1 {
    font-size: 30px !important;
    line-height: 35px !important;
  }
}
/* information section styles start */
/* ================================================= */
section.info_section {
  padding: 75px 0px;
  background-color: #378EF3;
}
section.info_section .info_container {
  margin: 0 auto;
}
section.info_section .info_container p {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  color: #fff;
  margin-bottom: 35px;
  /* font-family: moon-bold; */
}
section.info_section .info_container p span {
  color: #d1465d;
  font-weight: 700;
  text-shadow: 2px 2px 2px #fff;
}
section.info_section .info_container .create_join_btn {
  text-align: center;
}
section.info_section .info_container .create_join_btn a {
  padding: 15px;
  border-radius: 30px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 700;
  width: 200px;
}
section.info_section .info_container .create_join_btn a:hover {
  background-color: #F42C4C;
  border: 2px solid #F42C4C;
  color: #fff;
}
section.info_section .info_container .create_join_btn a.active {
  background-color: #F42C4C;
  border: 2px solid #F42C4C;
  color: #fff;
}

/* about section responsive styles */
/* =========================================== */
@media screen and (max-width: 768px) {
  section.info_section {
    padding: 50px 0;
    padding-bottom: 35px 0;
  }
  section.info_section .info_container {
    flex-direction: column;
  }
  section.info_section .info_container p {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
  section.info_section .create_join_btn #create_btn,
section.info_section .create_join_btn #join_btn {
    margin-bottom: 15px;
  }
}
/* category section styles start */
/* ===================================================== */
section.category_section {
  padding: 75px 0px;
  background-color: #fff;
}
section.category_section .category_slider_container {
  display: flex;
  justify-content: center;
}
section.category_section .category_slider_container .item a {
  background-color: #fff;
  color: #15AFE8;
  font-size: 16px;
  font-weight: 400;
  padding: 25px;
  border-radius: 20px;
  text-transform: capitalize;
  border: 1px solid #C8CCD0;
  transition: 0.3s;
  font-weight: 700;
}
section.category_section .category_slider_container .item a:hover {
  background-color: #15AFE8;
  border-color: #15AFE8;
  color: #fff;
}

/* category section responsive styles */
/* ======================================================= */
@media screen and (max-width: 768px) {
  section.category_section {
    padding: 50px 0px;
  }
}
/* feature suggested section styels start */
/* ========================================================== */
section.feat_sugst_section {
  padding: 75px 0px;
  background-color: #385776;
}
section.feat_sugst_section .feat_sugst_header {
  margin-bottom: 50px;
}
section.feat_sugst_section .feat_sugst_header .feat_sugst_header_container {
  display: flex;
  justify-content: space-around;
}
section.feat_sugst_section .feat_sugst_header .feat_sugst_header_container ul li a {
  padding: 0;
  margin-right: 25px;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  /* font-family: moon-bold; */
}
section.feat_sugst_section .feat_sugst_header .feat_sugst_header_container ul li a.active {
  background-color: transparent;
  text-decoration: underline !important;
}

/* feature suggested section responsive styles */
/* ================================================================ */
@media screen and (max-width: 768px) {
  section.feat_sugst_section {
    padding: 50px 0px;
  }
  section.feat_sugst_section .feat_sugst_header {
    padding: 15px 0;
    margin-bottom: 50px;
  }
  section.feat_sugst_section .feat_sugst_header .feat_sugst_header_container ul {
    justify-content: center;
  }
  section.feat_sugst_section .feat_sugst_header .feat_sugst_header_container ul li a {
    color: #fff;
    margin: 0 25px;
  }
  section.feat_sugst_section .feat_sugst_header .feat_sugst_header_container ul li a.active {
    color: #fff;
  }
}
@media screen and (max-width: 575px) {
  section.feat_sugst_section .feat_sugst_container #feat_slider_container .feat_slider_container .item .board_item,
section.feat_sugst_section .feat_sugst_container #feat_slider_container .sugst_slider_container .item .board_item,
section.feat_sugst_section .feat_sugst_container #sugst_slider_container .feat_slider_container .item .board_item,
section.feat_sugst_section .feat_sugst_container #sugst_slider_container .sugst_slider_container .item .board_item {
    width: calc(100vw - 30px);
  }
  section.feat_sugst_section .feat_sugst_container #feat_slider_container .feat_slider_container .item .board_item img,
section.feat_sugst_section .feat_sugst_container #feat_slider_container .sugst_slider_container .item .board_item img,
section.feat_sugst_section .feat_sugst_container #sugst_slider_container .feat_slider_container .item .board_item img,
section.feat_sugst_section .feat_sugst_container #sugst_slider_container .sugst_slider_container .item .board_item img {
    min-height: auto !important;
  }
}
/* popular post section styles*/
/* ======================================================= */
section.ppplr_post_section {
  padding: 75px 0px;
  background-color: #fff;
}
section.ppplr_post_section .pplr_post_header h2 {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 50px;
  position: relative;
}
section.ppplr_post_section .pplr_post_header h2 a {
  font-size: 25px;
  line-height: 30px;
  color: #7B7474;
  text-decoration: none;
  transition: 0.3s;
  /* font-family: moon-bold; */
}
section.ppplr_post_section .pplr_post_header h2:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 2.5px;
  width: 50px;
  background-color: #15AFE8;
  border-radius: 2.5px;
  content: "";
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item {
  width: 300px;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure {
  width: 100%;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 20px;
  opacity: 0;
  transition: 0.3s;
  background-image: linear-gradient(transparent 0%, #010 100%);
  display: flex;
  justify-content: space-between;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption .save_follow {
  display: inline-block;
  padding: 0px;
  margin: 0;
  transform: translateY(30%);
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption .save_follow a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-transform: capitalize;
  transition: 0.3s;
  margin-right: 10px;
  text-decoration: none;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption .save_follow a:hover {
  color: #388CB3;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption .more_option {
  display: inline-block;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-transform: capitalize;
  transform: translateY(30%);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption .more_option:hover {
  color: #388CB3;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption .more_option ul {
  list-style-type: none;
  position: absolute;
  bottom: 0px;
  right: 0;
  opacity: 0;
  transition: 0.2s;
  height: 0px;
  min-width: 120px;
  overflow: hidden;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption .more_option ul li {
  padding: 1.5px 3px;
  margin-top: 1.5px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: left;
  transition: 0.3s;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption .more_option ul li a {
  display: block;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption .more_option ul li:hover {
  background-color: white;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption .more_option ul li:hover a {
  color: #388CB3;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure figcaption .more_option ul.expanded_more {
  height: 120px;
  opacity: 1;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure img {
  min-width: 100%;
  min-height: 250px;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure:hover figcaption {
  opacity: 1;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure:hover figcaption h4, section.ppplr_post_section .ppplr_post_slider_container .item .board_item figure:hover figcaption p {
  transform: translateY(0);
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 2.5px;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_title {
  padding: 0;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  width: calc(100% - 110px);
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_title a {
  display: inline-block;
  color: #fff;
  /* font-family: moon-bold; */
  line-height: 1;
  margin-right: 5px;
  margin-bottom: 5px;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_title a:hover {
  text-decoration: underline;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_title a:last-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  background-color: #15AFE8;
  border-radius: 2px;
  color: #fff;
  padding: 2px 4px;
  transition: 0.3s;
  text-decoration: none;
  margin-right: 0px;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_title a:last-child:hover {
  background-color: #fff;
  color: #15AFE8;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_metta {
  text-align: right;
  font-size: 16px;
  line-height: 21px;
  width: 115px;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_metta a {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_metta a i {
  color: #fff;
  transition: 0.3s;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_metta a:hover i {
  color: #15AFE8;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item img {
  min-height: 200px !important;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_title a {
  color: #15AFE8;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_title a:last-child {
  background-color: #7B7474;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_title a:last-child:hover {
  background-color: #15AFE8;
  color: #fff;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_metta a {
  color: #7B7474;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_metta a i {
  color: #7B7474;
  transition: 0.3s;
}
section.ppplr_post_section .ppplr_post_slider_container .item .board_item .board_info .board_metta a:hover i {
  color: #15AFE8;
}

/* popular post section responsive */
/* ===================================================== */
@media screen and (max-width: 768px) {
  section.ppplr_post_section {
    padding: 50px 0px;
  }
  section.ppplr_post_section .pplr_post_header {
    padding: 15px 0;
    margin-bottom: 25px;
  }
  section.ppplr_post_section .pplr_post_header h2 {
    margin: 0 auto;
    padding-bottom: 0;
  }
  section.ppplr_post_section .pplr_post_header h2:after {
    display: none;
  }
  section.ppplr_post_section .pplr_post_header h2 a {
    margin: 0;
  }
  section.ppplr_post_section .pplr_post_header h2 a:hover {
    text-decoration: underline;
  }
}
/* popular post section responsive */
@media screen and (max-width: 575px) {
  section.ppplr_post_section .ppplr_post_slider_container .item .board_item {
    width: calc(100vw - 30px);
  }
  section.ppplr_post_section .ppplr_post_slider_container .item .board_item img {
    min-height: auto !important;
  }
}

#pinned_board i{
  transform: rotate(25deg);
}

.board_item figure {
  width: 100%;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.board_item figure .lock_indicator{
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: #B13F3A
}

.board_item figure .lock_indicator i{
  line-height: 23px;
  font-size: 14px;
}

.board_item figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 20px;
  opacity: 0;
  transition: 0.3s;
  background-image: linear-gradient(transparent 0%, #010 100%);
  display: flex;
  justify-content: space-between;
}
.board_item figure figcaption .save_follow {
  display: inline-block;
  padding: 0px;
  margin: 0;
  transform: translateY(30%);
}
.board_item figure figcaption .save_follow a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-transform: capitalize;
  transition: 0.3s;
  margin-right: 10px;
  text-decoration: none;
}
.board_item figure figcaption .save_follow a:hover {
  color: #388CB3;
}
.board_item figure figcaption .more_option {
  display: inline-block;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-transform: capitalize;
  transform: translateY(30%);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.board_item figure figcaption .more_option:hover {
  color: #388CB3;
}
.more_option ul {
  list-style-type: none;
  position: absolute;
  bottom: 0px;
  right: 0;
  opacity: 0;
  transition: 0.2s;
  height: 0px;
  min-width: 120px;
  overflow: hidden;
}
.board_item figure figcaption .more_option ul li {
  padding: 1.5px 3px;
  margin-top: 1.5px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: left;
  transition: 0.3s;
}
.board_item figure figcaption .more_option ul li a {
  display: block;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.board_item figure figcaption .more_option ul li:hover {
  background-color: white;
}

.board_item figure figcaption .more_option ul li:hover a {
  color: #388CB3;
}
.board_item figure figcaption .more_option ul.expanded_more {
  height: 120px;
  opacity: 1;
}
.board_item figure img {
  min-width: 100%;
  min-height: 250px;
  max-height: 250px;
}
.board_item figure:hover figcaption {
  opacity: 1;
}
.board_item figure:hover figcaption p {
  transform: translateY(0);
}
.board_item .board_info {
  display: block;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 2.5px;
}
.board_item .board_info .board_title {
  padding: 0;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  width: 100%;
  display: block;
}
.board_item .board_info .board_title a {
  display: inline-block;
  color: #15AFE8;
  /* font-family: moon-bold; */
  line-height: 1;
  margin-right: 5px;
  margin-bottom: 5px;
}
.board_item .board_info .board_title a:hover {
  text-decoration: underline;
}
.board_item .board_info .board_metta a:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  background-color: #7B7474;
  border-radius: 2px;
  color: #fff;
  padding: 2px 4px;
  transition: 0.3s;
  text-decoration: none;
  margin-right: 0px;
}
.board_item .board_info .board_metta a:first-child:hover {
  background-color: #15AFE8;
  color: #fff;
}
.board_item .board_info .board_metta {
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  display: block;
}
.board_item .board_info .board_metta a {
  /* margin-left: 5px; */
  color: #7B7474;
  text-decoration: none;
}
.board_item .board_info .board_metta a i {
  color: #7B7474;
  transition: 0.3s;
}
.board_item .board_info .board_metta a:hover i {
  color: #15AFE8;
}

.feat_sugst_section .feat_sugst_header .feat_sugst_header_container
ul li a.active{
  text-decoration: underline !important;
}

.feat_sugst_container .board_item .board_info .board_title a{
  color: #fff;
}

.feat_sugst_container .board_item .board_info
.board_title a:last-child{
  /* background-color: #15AFE8; */
  color: #fff;
}

.feat_sugst_container .board_item .board_info
.board_title a:last-child:hover{
  /* background-color: #fff; */
  color: #15AFE8;
}

.feat_sugst_container .board_item
.board_info .board_metta a,
.feat_sugst_container .board_item
.board_info .board_metta a i{
  color: #fff;
}

.feat_sugst_container .board_item
.board_info .board_metta a:hover i{
  color: #15AFE8;
}

/* popular post section */
/* ============================================================= */
section.user_popular_post{
  padding: 75px 0px;
}

section.user_popular_post .user_popular_post_header
h2{
  color: #7B7474;
}

.post_item{
  border-radius: 10px;
}

.post_item .post_img{
  position: relative;
}


.post_item .post_img img{
  border-radius: 10px;
  height: 250px;
}

.post_item .post_img .post_img_inner{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 20px;
  opacity: 0;
  transition: 0.3s;
  background-image: linear-gradient(transparent 0%, #010 100%);
  display: flex;
  justify-content: space-between;
}

.post_item .post_img:hover .post_img_inner{
  opacity: 1;
}


.post_item .post_img .post_img_inner .save_follow{
  display: inline-block;
  padding: 0px;
  margin: 0;
  transform: translateY(30%);
}

.post_item .post_img .post_img_inner .save_follow a{
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-transform: capitalize;
  transition: 0.3s;
  margin-right: 10px;
  text-decoration: none;
}

.post_item .post_img
.post_img_inner .save_follow a:hover{
  color: #388CB3;
}


.post_item .post_img
.post_img_inner .more_option{
  display: inline-block;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #fff;
  text-transform: capitalize;
  transform: translateY(30%);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.post_item .post_img
.post_img_inner .more_option:hover{
  color: #388CB3;
}

.post_item .post_img
.post_img_inner .more_option ul{
  list-style-type: none;
  position: absolute;
  bottom: 0px;
  right: 0;
  opacity: 0;
  transition: 0.2s;
  height: 0px;
  min-width: 90px;
  overflow: hidden;
}

.post_item .post_img
.post_img_inner .more_option ul li{
  padding: 1.5px 3px;
  margin-top: 1.5px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: left;
  transition: 0.3s;
}

.post_item .post_img
.post_img_inner .more_option ul li a{
  display: block;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.post_item .post_img
.post_img_inner .more_option ul li:hover{
  background-color: white;
}

.post_item .post_img
.post_img_inner .more_option ul li:hover a{
  color: #388CB3;
}

.post_item .post_img
.post_img_inner .more_option ul.expanded_more{
  height: 120px;
  opacity: 1;
}

.post_item  .post_summary{
  padding: 20px;
}

.post_item  .post_summary .post_title{
  font-size: 25px;
  text-decoration: none;
  font-family: sans-serif;
  transition: .3s;
  color: #7B7474;
}

.post_item  .post_summary .post_title:hover{
  color: #15AFE8;
}

.post_item  .post_summary .post_text{
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: 22px;
  font-size: 16px;
  color: #7B7474;
  height: 60px;
}

.post_item  .post_summary a.author_info{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #7B7474;
}

.post_item  .post_summary a.author_info:hover h5{
  color: #15AFE8;
}

.post_item  .post_summary .author_info img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid silver;
  margin-right: 10px;
}

.post_item  .post_summary .author_info .author_name h5{
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  margin: 0;
  transition: .3s;
}

.post_item  .post_summary .author_info .author_name p{
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  margin: 0;
  font-family: sans-serif;
  text-transform: capitalize;
}

.board_item .board_info .board_metta a:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  background-color: #7B7474;
  border-radius: 2px;
  color: #fff;
  padding: 2px 4px;
  transition: 0.3s;
  text-decoration: none;
  margin-right: 0px;
}
.board_item .board_info .board_metta a:first-child:hover {
  background-color: #15AFE8;
  color: #fff;
}
.board_item .board_info .board_metta {
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  display: block;
}
.board_item .board_info .board_metta a {
  /* margin-left: 5px; */
  color: #7B7474;
  text-decoration: none;
}
.board_item .board_info .board_metta a i {
  color: #7B7474;
  transition: 0.3s;
}
.board_item .board_info .board_metta a:hover i {
  color: #15AFE8;
}

.post_item .post_summary .board_metta a:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  background-color: #7B7474;
  border-radius: 2px;
  color: #fff;
  padding: 2px 4px;
  transition: 0.3s;
  text-decoration: none;
  margin-right: 0px;
}

.post_item .post_summary .board_metta a:first-child:hover {
  background-color: #15AFE8;
  color: #fff;
}

.post_item .post_summary .board_metta {
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  display: block;
}

.post_item .post_summary .board_metta a {
  /* margin-left: 5px; */
  color: #7B7474;
  text-decoration: none;
}

.post_item .post_summary .board_metta a i {
  color: #7B7474;
  transition: 0.3s;
}

.post_item .post_summary .board_metta a:hover i {
  color: #15AFE8;
}

/* default item */

/* default Item styles */
.default_item{
  min-height: 250px;
  padding: 35px;
  border-radius: 10px
}

.default_item .default_text{
  padding-right: 25px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  /* image is varry so it is not here */
  background-position: right bottom;
  background-size: 110px;
  background-repeat: no-repeat;
}

.default_item .default_text h4{
  font-family: sans-serif;
  font-size: 23px;
  line-height: 1;
  margin-bottom: 15px;
  color: #0D859B;
}

.default_item .default_text p{
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.15;
  font-weight: 300;
  padding-right: 80px;
  color: #0D859B;
  margin: 0; 
}

.default_item .default_btn{
  text-align: center;
}

.default_item .default_btn a{
  background-color: #30BFD8;
  color: #fff;
  margin: 0 auto;
  min-width: 150px;
  font-size: 16px;
  padding: 10px 15px;
  border: 2.5px solid #30BFD8;
  /* font-family: moon-bold; */
  border-radius: 25px;
  transition: .3s;
}


.default_item .default_btn a:hover{
  color: #30BFD8;
  background-color: transparent;
}