/* ======================================= */
/* popup styles */
/* ============================================ */
.popup_container{
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    display: none;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.popup_container::-webkit-scrollbar {
  display: none;
}

.popup_container.popped{
    display: block;
}

.popup_container .popup_item{
    padding: 50px;
    padding-top: 0;
    margin-bottom: 50px;
    background-color: #fff;
    position: relative;
    max-width: 60%;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .75);
    overflow:  hidden;
}


/* todos popup styles */
.popup_container .popup_item .popup_closer{
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
    padding: 10px 12.5px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.todos_not_popup .todos_not .popup_closer{
    color: #fff;
}

.popup_container .popup_item .popup_closer:hover{
    background-color: red;
    color: #fff;
}


.todos_not_popup .todos_not ul{
    list-style-type: none;
}

.todos_not_popup .todos_not{
    padding-top: 0;
}

.todos_not_popup .todos_not ul h4.todos_header{
    padding: 25px 50px;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 28px;
    color: #fff;
    background-color: #15AFE8;
    margin-left: -50px;
    margin-right: -50px;
}

.todos_not_popup .todos_not ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-bottom: 30px;
    transition: .3s;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.todos_not_popup .todos_not ul li h4.todos_name{
    font-size: 18px;
    line-height: 1.15;
    font-family: sans-serif;
    margin-bottom: 0;
    font-weight: 300;

    /* layout */
    display: flex;
}

.todos_not_popup .todos_not ul li h4.todos_name i{
    transform: scale(1.1, 1.1);
    margin-right: 7.5px;
    color: #15AFE8;
    width: 20px;
}

.todos_not_popup .todos_not ul li .todos_action_delete{
    margin-left: 10px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.todos_not_popup .todos_not ul li:hover .todos_action_delete{
    visibility: visible;
    opacity: 1;
}

.todos_not_popup .todos_not ul li .todos_action_delete a#todos_action,
.todos_not_popup .todos_not ul li .todos_action_delete a#todos_delete{
    width: 80px;
    height: 27px;
    border: 2px solid #73BF9D;
    line-height: 23px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: block;
    font-size: 13px;
    line-height: 25px;
    font-weight: 600;
    text-align: center;
    background-color: #73BF9D;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.todos_not_popup .todos_not ul li .todos_action_delete a#todos_action:hover{
    color: #73BF9D;
    background-color: #fff;
}

.todos_not_popup .todos_not ul li .todos_action_delete a#todos_delete{
    background-color: #EA839E;
    border: 2px solid #EA839E;
}

.todos_not_popup .todos_not ul li .todos_action_delete a#todos_delete:hover{
    color: #EA839E;
    background-color: #fff;
}

/* create group popup */
.create_group_popup {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.create_group_popup_item {
  max-width: 40% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.create_group_popup_item .create_header_bar{
    padding: 25px 50px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 -50px;
    font-size: 40px;
    line-height: 28px;
    font-weight: 300;
}

.create_group_popup_item .create_header_sub_bar{
    padding: 25px 50px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    line-height: 58px;
    font-weight: 600;
    width: 650px;
}

.divider {
  max-width: 260px;
  border-top: 1px solid #FFFFFF;
  margin: 0 auto;
}

.create_group_popup_item .group_upper{
    padding-bottom: 10px;
    margin: 0 -50px;
}

.create_group_popup_item h3{
    /* font-family: montserrat-bold; */
    color: #ffff;
}
.create_group_popup_item .group_upper p{
    font-size: 30px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px;
}

.create_group_popup_item .group_middler{
    padding: 35px 20px;
    margin: 0 -50px;
}

.create_group_popup_item .group_middler p{
    font-size: 25px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.create_group_popup_item .group_middler .middler_inner{
    padding-right: 30%;
    background-position: right bottom;
    background-size: 50%;
    background-repeat: no-repeat;
}

.create_group_popup_item .learn_more_btn{
  margin-left: 50px;
    font-size: 16px;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px 30px;
    border: 2px solid #CECECE;
}

.create_group_popup_item .form-check label{
    color: #FFFFFF;
    margin-top: 1px;
    font-weight: 500;
    cursor: pointer;
}

.create_group_popup_item .get_started .get_started_btn{
    padding: 10px 30px;
    font-size: 28px;
    color: #fff;
    border-radius: 10px;
    background-color: #B70EAD;
    border-color: #CECECE;
}

.create_group_popup_item .get_started .info_text{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  color: #FFFFFF;
}

.create_group_popup_item .get_started .info_text a{
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
}


@media only screen and (max-width: 1024px) {
    .popup_container .popup_item {
        padding: 35px;
        padding-top: 0;
        max-width: 75%;
    }

    .todos_not_popup .todos_not ul h4.todos_header{
        padding: 20px 35px;
        margin-left: -35px;
        margin-right: -35px;
    }

    .create_group_popup_item {
      max-width: 95% !important;
    }

    .create_group_popup_item .create_header_sub_bar{
      width: 100vw !important;
      margin-inline-start: -70px !important;
    }

}

@media only screen and (max-width: 575px) {
    .popup_container .popup_item{
        padding: 25px;
        padding-top: 0;
        max-width: 80%;
    }

    .todos_not_popup .todos_not ul h4.todos_header{
        padding: 15px 25px;
        margin-left: -25px;
        margin-right: -25px;
    }

    .create_group_popup_item .create_header_sub_bar {
        width: 10vw;
        font-size: 28px;
        line-height: 38px;
        padding: 20px 50px;
        margin-inline-start: -55px !important;
    }

    .create_group_popup_item .group_upper p {
        font-size: 20px;
    }

    .create_group_popup_item .group_upper .w-100 {
        width: 80% !important;
        margin: 0 auto;
    }

    .create_group_popup_item .group_middler {
        padding: 15px 35px;
        margin: 0px -50px;
    }

    .create_group_popup_item .group_middler p {
        font-size: 20px;
    }

    .create_group_popup_item .learn_more_btn {
        margin-left: 30px;
    }
}

/* to dos responsive */
@media only screen and (max-width: 480px) {
    .popup_container .popup_item{
        padding: 20px;
        padding-top: 0;
        max-width: 95%;
        margin: 5% auto;
    }

    .todos_not_popup .todos_not ul h4.todos_header {
        padding: 15px 20px;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 50px;
        font-size: 22px;
        line-height: 25px;
    }

    .create_group_popup_item .group_middler .middler_inner{
        padding-right: 30%;
        background-position: right center;
        background-size: 50%;
    }

    .todos_not_popup .todos_not ul li{
        align-items: start;
        padding: 0 10px;
        margin-top: 15px;
    }

    .todos_not_popup .todos_not ul li:hover{
        background-color: #fff;
    }

    .todos_not_popup .todos_not ul li h4.todos_name {
        margin-bottom: 5px;
    }

    .create_group_popup_item .create_header_sub_bar {
        width: 100vw !important;
        font-size: 25px;
        line-height: 38px;
        padding: 20px 30px;
        margin-inline-start: -43px !important;
    }

    .create_group_popup_item .group_middler p {
        font-size: 17px;
    }

    .create_group_popup_item .learn_more_btn {
        margin-left: 10px;
        padding: 5px 30px;
  }
}

/* ========================================================== */
/* group infor pop up */
.group_info_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: none;
  }
  
  .group_info_container.popped {
    display: block;
  }
  
  .group_info_container .modal_item {
    width: 65%;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    margin: 5% auto;
    position: relative;
    overflow: hidden;
    /* overflow-y: scroll; */
    display: none;
    transition: .3s;
    height: 500px;
  }
  
   /* Hide scrollbar for Chrome, Safari and Opera */
   .group_info_container .modal_item::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .group_info_container .modal_item {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .group_info_container .modal_item .scroll_body {
    padding: 10px;
    height: 60%;
    overflow:  hidden;
    overflow-y: scroll;
  }
.scroll_body {
	padding: 10px;
	height: 60%;
	overflow:  hidden;
	overflow-y: scroll;
}
  .group_info_container .modal_item .scroll_body::-webkit-scrollbar {
    display: none;
  }
.scroll_body::-webkit-scrollbar {
	display: none;
}
  .group_info_container .modal_item.popped {
    display: block;
  }
  
  @media only screen and (max-width: 991px) {
    .group_info_container .modal_item {
      width: 85%;
      height: 600px;
    }
    .group_info_container .modal_item .scroll_body {
      height: 60%;
    }
	  .scroll_body {
		  height: 60%;
	  }
  }
  
  @media only screen and (max-width: 575px) {
    .group_info_container .modal_item {
      width: 95%;
      padding: 25px;
      padding-top: 50px;
      height: 600px;
    }

    .group_info_container .modal_item .scroll_body {
      height: 50%;
    }
	  .scroll_body {
		  height: 50%;
	  }
  }
  
  .group_info_container .modal_item .modal_closer {
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
    padding: 10px 12.5px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
  }
  
  .group_info_container .modal_item .modal_closer:hover {
    background-color: red;
    color: #fff;
  }
  
  .group_info_container .modal_item .invite_option {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @media only screen and (max-width: 480px) {
    .group_info_container .modal_item .invite_option {
      align-items: start;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .group_info_container .modal_item .invite_option span {
      width: 100%;
    }
  }
  
  .group_info_container .modal_item .invite_option button {
    margin: 5px 0;
    margin-right: 15px;
    text-transform: capitalize;
  }
  
  .group_info_container .modal_item .invite_option button.add_btn{
    background-color: #15AFE8;
    color: #fff;
    border: 2px solid #15AFE8;
    transition: .3s;
  }
  
  .group_info_container .modal_item .invite_option button.add_btn:hover{
    background-color: transparent;
    color: #15AFE8;
  }
  
  @media only screen and (max-width: 480px) {
    .group_info_container .modal_item .invite_option button {
      font-size: 14px;
      margin: 5px;
    }
  }
  
  .group_info_container .modal_item .invite_option a {
    margin: 10px 0;
    /* font-family: lato-bold; */
    text-transform: uppercase;
    font-size: 18px;
    color: #15AFE8;
    text-decoration: none;
    transition: .3s;
  }
  
  @media only screen and (max-width: 480px) {
    .group_info_container .modal_item .invite_option a {
      font-size: 16px;
      margin-top: 15px;
    }
  }
  
  .group_info_container .modal_item .invite_option a:hover {
    color: #7B7474;
  }
  
  .group_info_container .modal_item .search_member {
    position: relative;
    margin-bottom: 20px;
  }
  
  .group_info_container .modal_item .search_member input {
    padding-right: 105px;
    /* font-family: lato-regular; */
  }
  
  .group_info_container .modal_item .search_member button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    background-color: #15AFE8;
  }
  
  .group_info_container .modal_item a.share_link {
    margin-bottom: 35px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .group_info_container .modal_item a.share_link span {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    color: #333;
  }
  
  .group_info_container .modal_item a.share_link span i {
    font-size: 20px;
    line-height: 48px;
    transition: .3s;
  }
  
  .group_info_container .modal_item a.share_link span i:hover {
    color: #15AFE8;
  }
  
  .group_info_container .modal_item a.share_link p {
    width: calc( 100% - 65px);
    font-size: 18px;
    margin: 0;
    line-height: 1.1;
    /* font-family: lato-bold; */
    color: #333;
    transition: .3s;
  }
  
  .group_info_container .modal_item a.share_link p:hover {
    color: #15AFE8;
  }
  
  .group_info_container .modal_item ul.suggest_members {
    list-style-type: none;
  }
ul.suggest_members {
	list-style-type: none;
}
  .group_info_container .modal_item ul.suggest_members li {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
ul.suggest_members li {
	margin: 15px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.group_info_container .modal_item ul.suggest_members li .user_name_img {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
ul.suggest_members li .user_name_img {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.group_info_container .modal_item ul.suggest_members li .user_name_img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid black;
  }
ul.suggest_members li .user_name_img img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 15px;
	border: 1px solid black;
}

.group_info_container .modal_item ul.suggest_members li .user_name_img p {
    margin: 0;
  }
ul.suggest_members li .user_name_img img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 15px;
	border: 1px solid black;
}

.group_info_container .modal_item ul.suggest_members li .user_name_img p .member_name {
    font-weight: bold;
    font-size: 1.2em !important;
    color: #000000 !important;
    margin-bottom: 5px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
ul.suggest_members li .user_name_img p .member_name {
	font-weight: bold;
	font-size: 1.2em !important;
	color: #000000 !important;
	margin-bottom: 5px;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
  .group_info_container .modal_item ul.suggest_members li .user_name_img p .member_none {
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2em !important;
    color: #000000 !important;
    margin-bottom: 5px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
ul.suggest_members li .user_name_img p .member_none {
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.2em !important;
	color: #000000 !important;
	margin-bottom: 5px;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
  .group_info_container .modal_item ul.suggest_members li .user_name_img p .member_none {
	  margin-left: 10px;
	  font-weight: bold;
	  font-size: 1.2em !important;
	  color: #000000 !important;
	  margin-bottom: 5px;
	  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
ul.suggest_members li .user_name_img p .member_none {
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.2em !important;
	color: #000000 !important;
	margin-bottom: 5px;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
  .group_info_container .modal_item.user_role h6,  .group_info_container .modal_item.invite_members h6,
  .group_info_container .modal_item.role_permission h6 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
  }
  
  .group_info_container .modal_item.user_role h6 a{
    /* font-family: lato-regular; */
    color: #15AFE8;
    font-size: 18px;
  }
  
  .group_info_container .modal_item.user_role .search_member {
    margin-bottom: 25px;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  
  .group_info_container .modal_item.user_role ul.user_role_list,
  .group_info_container .modal_item.role_permission ul.role_permission_list {
    list-style-type: none;
    margin-bottom: 25px;
  }
  
  @media only screen and (max-width: 767px) {
    .group_info_container .modal_item.user_role ul.user_role_list,
    .group_info_container .modal_item.role_permission ul.role_permission_list {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  
  .group_info_container .modal_item.user_role ul.user_role_list li,
  .group_info_container .modal_item.role_permission ul.role_permission_list li {
    display: inline-block;
    padding: 10px;
  }
  
  @media only screen and (max-width: 767px) {
    .group_info_container .modal_item.user_role ul.user_role_list li,
    .group_info_container .modal_item.role_permission ul.role_permission_list li {
      padding: 0 5px;
      padding-bottom: 5px;
    }
  }
  
  .group_info_container .modal_item.user_role ul.user_role_list li a,
  .group_info_container .modal_item.role_permission ul.role_permission_list li a {
    font-size: 17px;
    /* font-family: lato-bold; */
    color: #7B7474;
    transition: .3s;
  }
  
  .group_info_container .modal_item.user_role ul.user_role_list li a.active,
  .group_info_container .modal_item.role_permission ul.role_permission_list li a.active {
    color: #15AFE8;
  }
  
  .group_info_container .modal_item.user_role ul.user_role_list li a:hover,
  .group_info_container .modal_item.role_permission ul.role_permission_list li a:hover {
    color: #15AFE8;
  }
  
  .group_info_container .modal_item.user_role ul.suggest_members li {
    align-items: start;
    margin-bottom: 25px;
  }
ul.suggest_members li {
	align-items: start;
	margin-bottom: 25px;
}
  @media only screen and (max-width: 575px) {
    .group_info_container .modal_item.user_role ul.suggest_members li {
      flex-direction: column;
    }
	  ul.suggest_members li {
		  flex-direction: column;
	  }
  }
  
  .group_info_container .modal_item.user_role ul.suggest_members li .user_name_img {
    align-items: start;
    width: calc( 100% - 155px);
  }
ul.suggest_members li .user_name_img {
	align-items: start;
	width: calc( 100% - 155px);
}
  @media only screen and (max-width: 575px) {
    .group_info_container .modal_item.user_role ul.suggest_members li .user_name_img {
      width: 100%;
    }
	  ul.suggest_members li .user_name_img {
		  align-items: start;
		  width: calc( 100% - 155px);
	  }
  }
  
  .group_info_container .modal_item.user_role ul.suggest_members li .user_name_img p span {
    font-size: 16px;
    line-height: 18px;
    color: #7b7474;
    /* font-family: lato-regular; */
    display: block;
  }
ul.suggest_members li .user_name_img p span {
	font-size: 16px;
	line-height: 18px;
	color: #7b7474;
	/* font-family: lato-regular; */
	display: block;
}
  /*# sourceMappingURL=group-page.css.map */
  .role_dropdown{
  width: 150px;
  border: 1px solid silver;
  border-radius: 5px;
  position: relative;
  padding-right: 25px;
  transition: .3s;
  }
  
  .role_dropdown.exist_role, .role_label{
  width: 300px;
  }

  .role_label {
    background-color: #15AFE8;
    border: 1px solid silver;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
  }
  
  @media only screen and (max-width: 575px) {
  .role_dropdown {
      margin-top: 10px;
  }
  .role_dropdown.exist_role, .role_label{
      width: 250px;
  }
  }
  
  .role_dropdown.dropped{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  }
  
  .role_dropdown span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #7B7474;
  transition: .3s;
  }
  
  .role_dropdown.dropped span{
  transform: translateY(-50%) rotate(180deg);
  }
  
  .role_dropdown a{
  /* font-family: montserrat-regular; */
  padding: 10px;
  display: block;
  line-height: 1.15;
  font-size: 14px;
  transition: .3s;
  }
  
  .role_dropdown .change_role_btn{
  background-color: #15AFE8;
  color: #fff;
  border-radius: 5px;
  /* font-family: montserrat-regular; */
  width: 120px;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  }
  
  .role_dropdown a:hover{
  color: #4d5cbd !important;
  }
  
  .role_dropdown .role_secondery{
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  box-shadow: 0px 0px 2px 0px #7B7474;
  border-radius: 5px;
  background-color: #fff;
  z-index: 9999;
  border: 1px solid silver;
  overflow: hidden;
  display: none;
  opacity: 0;
  padding: 0 10px;
  }
  
  .role_dropdown.dropped .role_secondery{
  display: block;
  opacity: 1;
  }
  
  .role_dropdown .role_secondery a{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .role_dropdown .role_secondery a:hover{
  text-decoration: underline;
  }
  
  .role_dropdown .role_secondery a:last-child{
  border: none;
  }

  #btnUserSearch, #btnUserInviteSearch {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  /* profile popup */
/* follower popup & contact popup*/
/* =============================================================== */
.popup_container.follower_popup .follower_popup_item,
.popup_container.contact_popup .contact_popup_item{
  max-width: 80%;
  padding-top: 50px;
  height: 90%;
  /* layout */
  display: flex;
  justify-content: space-between;
}

.popup_container.follower_popup 
.follower_popup_left,
.popup_container.contact_popup 
.contact_popup_left{
  width: 55%;
  margin-bottom: 50px;
}

.popup_container.follower_popup 
.follower_popup_right,
.popup_container.contact_popup 
.contact_popup_right{
  width: 40%;
}



.popup_container.follower_popup 
.follower_popup_left .follower_popup_header,
.popup_container.contact_popup 
.contact_popup_left .contact_popup_header{
  padding: 15px 10px;
  background-color: #15AFE8;
  color: #fff;
  font-size: 25px;
  text-align: center;
  /* font-family: sans-serif; */
  font-weight: 700;
  border-radius: 10px;
}

.popup_container.follower_popup 
.follower_popup_left .follower_popup_nav,
.popup_container.contact_popup 
.contact_popup_left .contact_popup_nav{
  list-style-type: none;
  text-align: center;
  margin-top: 25px;
}

.popup_container.follower_popup 
.follower_popup_left .follower_popup_nav li,
.popup_container.contact_popup 
.contact_popup_left .contact_popup_nav li{
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
  border-bottom: 2px solid transparent;
  display: inline-block;
  color: #333;
  transition: .3s;
}

.popup_container.follower_popup 
.follower_popup_left .follower_popup_nav li:hover,
.popup_container.contact_popup 
.contact_popup_left .contact_popup_nav li:hover{
  color: #15AFE8;
}

.popup_container.follower_popup 
.follower_popup_left .follower_popup_nav li.active,
.popup_container.contact_popup 
.contact_popup_left .contact_popup_nav li.active{
  color: #15AFE8;
  border-color: #15AFE8;
}

.popup_container.follower_popup 
.follower_popup_left .follower_filter,
.popup_container.contact_popup 
.contact_popup_left .contact_filter{
  margin-top: 25px;
}

.popup_container.follower_popup 
.follower_popup_left .follower_filter .follower_search,
.popup_container.contact_popup 
.contact_popup_left .contact_filter .contact_search{
  position: relative;
}

.popup_container.follower_popup 
.follower_popup_left .follower_filter .follower_search input,
.popup_container.contact_popup 
.contact_popup_left .contact_filter .contact_search input{
  padding-right: 100px;
  font-family: sans-serif;
}

.popup_container.follower_popup 
.follower_popup_left .follower_filter .follower_search button,
.popup_container.contact_popup 
.contact_popup_left .contact_filter .contact_search button{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #15AFE8;
  color: #fff;
  font-family: sans-serif;
  text-transform: capitalize;
  width: 90px;
}

.popup_container.follower_popup 
.follower_popup_left .follower_filter .follower_filter_list,
.popup_container.contact_popup 
.contact_popup_left .contact_filter .contact_filter_list{
  list-style-type: none;
  margin: 25px 0;
  cursor: pointer;
}

.popup_container.follower_popup 
.follower_popup_left .follower_filter .follower_filter_list li,
.popup_container.contact_popup 
.contact_popup_left .contact_filter .contact_filter_list li{
  display: inline-block;
  padding: 5px 0;
  padding-right: 15px;
}

.popup_container.follower_popup 
.follower_popup_left .follower_filter .follower_filter_list li a,
.popup_container.contact_popup 
.contact_popup_left .contact_filter .contact_filter_list li a{
  font-size: 16px;
  color: #7B7474;
  font-family: sans-serif;
  transition: .3s;
  text-decoration: none;
}

.popup_container.follower_popup 
.follower_popup_left .follower_filter .follower_filter_list li.active a,
.popup_container.contact_popup 
.contact_popup_left .contact_filter .contact_filter_list li.active a{
  color: #15AFE8;
}

.popup_container.follower_popup 
.follower_popup_left .follower_filter .follower_filter_list li:hover a,
.popup_container.contact_popup 
.contact_popup_left .contact_filter .contact_filter_list li:hover a{
  color: #15AFE8
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item{
  display: none;
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item.active,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item.active{
  display: block;
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item.active,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item.active ul{
  height: 500px;
  overflow-y: scroll;
}

@media only screen and (max-width: 991px) {
  .popup_container.follower_popup 
  .follower_popup_left .follower_content .follower_content_item.active,
  .popup_container.contact_popup 
  .contact_popup_left .contact_content .contact_content_item.active ul{
    height: 60%;
  }
}

@media only screen and (max-width: 575px) {
  .popup_container.follower_popup 
  .follower_popup_left .follower_content .follower_content_item.active,
  .popup_container.contact_popup 
  .contact_popup_left .contact_content .contact_content_item.active ul{
    height: 250px;
  }
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item h5,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item h5{
  font-family: sans-serif;
  color: #7B7474;
  padding: 10px 0;
  border-bottom: 2px solid rgba(0, 0, 0, .05);
  margin-bottom: 15px;
  font-size: 16px;
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item
.followers_list li,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li{
  padding: 15px 0;

  /* layout */
  display: flex;
  justify-content: space-between;
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item
.followers_list li .follower_profile,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li .contact_profile{
  display: flex;
  width: calc(100% - 140px);
  cursor: pointer;
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item
.followers_list li .follower_profile img,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li .contact_profile img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item
.followers_list li .follower_profile .follower_info h6,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li .contact_profile .contact_info h6{
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0px;  
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item
.followers_list li .follower_profile .follower_info p,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li .contact_profile .contact_info p{
  font-family: sans-serif;
  color: #7B7474;
  font-size: 14px;
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item
.followers_list li .follower_action,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li .contact_action{
  width: 140px;
  text-align: right;
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item
.followers_list li .follower_action a,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li .contact_action a{
  background-color: #15AFE8;
  color: #fff;
  font-family: sans-serif;
}

.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li .contact_action a.btn:last-child{
  background-color: silver;
  /* padding: 10px; */
  transition: .3s;
  margin-left: 3px;
}

.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li .contact_action span{
  display: block;
  color: #7B7474;
  margin-bottom: 2px;
}

.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li .contact_action a.btn:last-child:hover{
  background-color: #F42C4C;
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item
.followers_list li .follower_action .dropdown-menu a,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li .contact_action .dropdown-menu a{
  background-color: transparent;
  color: #7B7474;
  transition: .3s;
}

.popup_container.follower_popup 
.follower_popup_left .follower_content .follower_content_item
.followers_list li .follower_action .dropdown-menu a:hover,
.popup_container.contact_popup 
.contact_popup_left .contact_content .contact_content_item
.contacts_list li .contact_action .dropdown-menu a:hover{
  color: #15AFE8;
}

/* right side bar styles */
/* ---------------------- */
.popup_container.follower_popup 
.follower_popup_right .follower_side_img img,
.popup_container.contact_popup 
.contact_popup_right .contact_side_img img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 35px;
}


.popup_container.follower_popup 
.follower_popup_right .follower_side_list h5,
.popup_container.contact_popup 
.contact_popup_right .contact_side_list h5{
  font-size: 16px;
  color: #7B7474;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, .05);
  margin-bottom: 20px;
}

.popup_container.follower_popup 
.follower_popup_right .follower_side_list li,
.popup_container.contact_popup 
.contact_popup_right .contact_side_list li{
  margin-bottom: 15px;
  padding-right: 25px;
  display: flex;
  position: relative;
}

.popup_container.follower_popup 
.follower_popup_right .follower_side_list li img,
.popup_container.contact_popup 
.contact_popup_right .contact_side_list li img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.popup_container.follower_popup 
.follower_popup_right .follower_side_list li
.follower_side_text h6,
.popup_container.contact_popup 
.contact_popup_right .contact_side_list li
.contact_side_text h6{
  margin-bottom: 0;
}

.popup_container.follower_popup 
.follower_popup_right .follower_side_list li
.follower_side_text p,
.popup_container.contact_popup 
.contact_popup_right .contact_side_list li
.contact_side_text p{
  color: #7B7474;
  font-size: 14px;
}

.popup_container.follower_popup 
.follower_popup_right .follower_side_list li a,
.popup_container.contact_popup 
.contact_popup_right .contact_side_list li a{
  position: absolute;
  right: 10px;
  top: 2.5px;
  color: #7B7474;
  transition: .3s;
}

.popup_container.follower_popup 
.follower_popup_right .follower_side_list li a i,
.popup_container.contact_popup 
.contact_popup_right .contact_side_list li a i{
  font-size: 25px;
}

.popup_container.follower_popup 
.follower_popup_right .follower_side_list li a:hover,
.popup_container.contact_popup 
.contact_popup_right .contact_side_list li a i{
  color: #15AFE8;
}

.popup_container.follower_popup 
.follower_popup_right .see_more,
.popup_container.contact_popup 
.contact_popup_right .see_more{
  font-family: sans-serif;
  color: #7B7474;
  margin-top: 35px;
  margin-bottom: 15px;
  display: block;
  text-align: center;
}

.option_item
.option_switch {
  width: 70px;
  height: 35px;
  border-radius: 17.5px;
  background-color: #d5d5d5;
  position: relative;
  cursor: pointer;
  transition: .3s;
}

.option_item
.option_switch.on{
  background-color: #F42C4C;
}

.option_item
.option_switch span{
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  transition: .3s;
}

.option_item
.option_switch.on span{
  left: 37px;
}

.option_item
.option_link{
  font-family: sans-serif;
  color: #7B7474;
  text-decoration: none;
  transition: .3s;
}

.option_item
.option_link:hover{
  color: #15AFE8;
}

@media only screen and (max-width: 1024px) {
  .popup_container .popup_item {
    padding: 35px;
    padding-top: 0;
    max-width: 75%;
  }

  .todos_not_popup .todos_not ul h4.todos_header{
    padding: 20px 35px;
    margin-left: -35px;
    margin-right: -35px;
  }
}

@media only screen and (max-width: 575px) {
  .popup_container .popup_item{
    padding: 25px;
    padding-top: 0;
    max-width: 80%;
  }

  .todos_not_popup .todos_not ul h4.todos_header{
    padding: 15px 25px;
    margin-left: -25px;
    margin-right: -25px;
  }
}

/* to dos responsive */
@media only screen and (max-width: 480px) {
  .popup_container .popup_item{
    padding: 20px;
    padding-top: 0;
    max-width: 95%;
    margin: 5% auto;
  }

  .todos_not_popup .todos_not ul h4.todos_header {
    padding: 15px 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 25px;
  }

  .create_group_popup_item .group_middler .middler_inner{
    padding-right: 30%;
    background-position: right center;
    background-size: 50%;
  }

  .todos_not_popup .todos_not ul li{
    align-items: start;
    padding: 0 10px;
    margin-top: 15px;
  }

  .todos_not_popup .todos_not ul li:hover{
    background-color: #fff;
  }

  .todos_not_popup .todos_not ul li h4.todos_name {
    margin-bottom: 5px;
  }
}



/* follower popup responsive */
@media only screen and (max-width: 991px) {
  .popup_container.follower_popup .follower_popup_item,
  .popup_container.contact_popup .contact_popup_item{
    /* layout */
    flex-direction: column;
  }

  .popup_container.follower_popup 
  .follower_popup_left,
  .popup_container.contact_popup 
  .contact_popup_left{
    width: 100%
  }

  .popup_container.follower_popup 
  .follower_popup_right,
  .popup_container.contact_popup 
  .contact_popup_right{
    width: 100%;
  }
}


@media only screen and (max-width: 768px) {
  .popup_container.follower_popup .follower_popup_item,
  .popup_container.contact_popup .contact_popup_item{
    padding-top: 35px;
  }
}

@media only screen and (max-width: 575px) {
  .popup_container.follower_popup .follower_popup_item,
  .popup_container.contact_popup .contact_popup_item{
    padding-top: 25px;
    max-width: 95%;
  }

  .popup_container.follower_popup 
  .follower_popup_left .follower_content .follower_content_item
  .followers_list li,
  .popup_container.contact_popup 
  .contact_popup_left .contact_content .contact_content_item
  .contacts_list li{
    flex-direction: column;
  }

  .popup_container.follower_popup 
  .follower_popup_left .follower_content .follower_content_item
  .followers_list li .follower_profile,
  .popup_container.contact_popup 
  .contact_popup_left .contact_content .contact_content_item
  .contacts_list li .contact_profile{
    width: 100%;
  }

  .popup_container.follower_popup 
  .follower_popup_left .follower_content .follower_content_item
  .followers_list li .follower_action,
  .popup_container.contact_popup 
  .contact_popup_left .contact_content .contact_content_item
  .contacts_list li .contact_action {
    padding-left: 60px;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
  }

  .popup_container.follower_popup 
  .follower_popup_left .follower_content .follower_content_item
  .followers_list li .follower_action a,
  .popup_container.contact_popup 
  .contact_popup_left .contact_content .contact_content_item
  .contacts_list li .contact_action a{
    margin-bottom: 5px;
  }
}

.modal_item.invite_members.popped {
	overflow: scroll!important;
}
