.center-cross {
  display: flex;
  align-items: center;
}
.center-main {
  display: flex;
  justify-content: center;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.avaible-notif {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #f32020;
  position: absolute;
  top: 0;
  right: 0;
}
a {
  color: #231f20;
}
a:hover {
  text-decoration: none !important;
}
p {
  font-size: 16px;
  font-weight: 500;
}
.btn-primary:hover {
  background-color: none !important;
  border: none !important;
  color: none !important;
}

.btn-primary {
  background-color: #1f62ae !important;
}
.btn-primary-outline {
  border: 2px solid #1f62ae !important;
  background-color: white ;

  color: #1f62ae;
}
.modal-dialog {
  overflow: hidden;
}
