@font-face {
  font-family: SegoeUI;
  src: url(../font/SegoeUI.woff);
}
@font-face {
  font-family: SegoeUIBold;
  src: url(../font/SegoeUI_Bold.woff);
}
@font-face {
  font-family: SegoeUIBoldItalic;
  src: url(../font/SegoeUI_Bold_Italic.woff);
}
