footer {
  color: white;
  height: auto;
  padding: 30px;
  background-image: url(../img/bg-footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 550px;
}
footer p {
  margin-bottom: 0px;
  margin-left: 10px;
}
footer .icon {
  width: 16px;
}

footer .title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 0px;
}
footer .link {
  margin-top: 5px;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
footer .social-link {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}
