.logo {
  margin-top: 13px;
}
.navbar-default {
  background-image: none;
  background-color: white;
}
@media screen and (max-width: 800px) {
  .logo {
    margin-top: 26px;
    width: 173px;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    margin-top: 0px;
  }
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.container-reward {
  height: 50px;
  border-radius: 88px;
  border: 2px solid #15da57;
  padding: 0px 5px 0px 20px;
  display: flex;
  align-items: center;
}
.container-reward p {
  margin-right: 20px;
}
.navbar-header button {
  margin-top: 15px !important;
}
