.package-container {
  background-color: #f1f4f8;
  padding: 40px 0px;
  height: 650px;
}

.bubble {
  margin-top: 30px;
  position: relative;
  background: #fff;
  font-size: 12px;
  border-radius: 20px;
  padding: 24px;
  color: #000;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

/* package */
.package-container {
  display: flex;
  overflow: scroll;
  white-space: normal;
}
.package-item {
  padding: 20px 40px;
  border-radius: 30px;
  width: 312px;
  height: 397px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
}
.package-item-title {
  display: inline-block;
  margin: 0px 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.package-item .btn {
  background-color: transparent;
  border: 2px solid white !important;
  border-radius: 16px;
  font-size: 20px !important;
  font-weight: 600 !important;
  color: white;
  width: 100%;
  margin-top: 20px;
}
