@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "./fonts.css";
@import "./base.css";
@import "./header.css";
@import "./tabs.css";
@import "./carousel.css";
@import "./mycoin.css";
@import "./home.css";
@import "./footer.css";

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.avatar-name-text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}
.avatar-job-text {
  font-size: 14px;
  font-weight: 400;
  color: #a5a5a5;
  margin-bottom: 0px;
}
.title-instant-reward {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #6312a0;
}
.desc-instant-reward {
  font-size: 22px;
  font-weight: 400;
}
.title-form-instant-reward {
  font-size: 22px;
  font-weight: 500;
}
.label-input {
  font-size: 18px;
  font-weight: 500;
  color: #1f62ae;
}
.container-form-input {
  padding: 5px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
input {
  border: 0px solid black !important;
  background-color: #f2f1f1 !important;
  border-radius: 28px !important;
}
.container-form-input .placeholder {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}
.btn {
  padding: 10px 25px;
  font-size: 12px !important;
  background-image: none !important;
  font-weight: 500 !important;
  border: none !important;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}

.modal-dialog .bg {
  color: white;
  padding: 40px;
  text-align: center;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modal-dialog .instant-reward-bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-dialog .instant-reward-bg p {
  font-size: 30px;
  font-family: SegoeUI;
  font-weight: 600;
}
.modal-dialog .instant-reward-bg p:nth-child(2) {
  font-size: 24px;
  font-family: poppins;
  font-weight: 500;
}

.modal-dialog .instant-reward-bg img {
  width: 100%;
  margin-top: 30px;
}

.modal-contents {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#modalInstantReward {
  display: flex;
}
#modalInstantRewardCointCredit {
  display: none;
}

@media screen and (max-width: 995px) {
  .modal-contents {
    padding-left: 12px;
  }
  .modal-contentss {
    padding-left: 24px;
  }
  .modal-dialog .bg {
    height: 500px;
  }
}
