#menu2 {
  text-align: center;
}

.category-coin-container {
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.category-coin-container .item {
  padding: 10px 25px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  position: relative;
}
.category-coin-container .item .underline {
  position: absolute;
  bottom: 0px;
  height: 4px;
  width: 36px;
  background-color: #fcb731;
}
.category-coin-container .actives {
  color: #fcb731;
}

.coin-logo {
  width: 80px;
  margin-top: 10px;
}

.nominal {
  margin-top: 5px;
  font-size: 36px;
  font-weight: 600;
  color: #fcb731;
}

.coin-info {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #13903d;
}

/* card coin */
.card-coin {
  padding: 20px 30px;
  height: 204px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "SegoeUIBold";
}
.card-coin .btn {
  color: white;
}
.card-coin p {
  margin-bottom: 0px !important;
}
.title-card-coin {
  font-size: 26px;
  color: #fcb731;
}
.value-card-coin {
  font-size: 48px;
  color: white;
}

.bonus-coin {
  background-color: #00c7ff;
  background-image: url("../img/bg-bonus-coin.png");
}
.bonus-coin .btn {
  background-image: linear-gradient(to right, #6600ff, #00c7ff) !important;
}

.redeem-coin {
  background-color: #f116cd;
  background-image: url("../img/bg-redeem-coin.png");
}
.redeem-coin .btn {
  background-image: linear-gradient(to right, #fcb731, #f15916) !important;
}

.earned-coin {
  background-color: #21053e;
  background-image: url("../img/bg-earned-coin.png");
}
.earned-coin .btn {
  background-image: linear-gradient(to right, #fcb731, #7f00fd) !important;
}

.bought-coin {
  background-color: #107556;
  background-image: url("../img/bg-bought-coin.png");
}
.bought-coin .btn {
  background-image: linear-gradient(to right, #f116cd, #063367) !important;
}

.tab-pane .row {
  /* padding: 20px 0px; */
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.earn-coin-card {
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.earn-coin-card-title {
  margin-top: 60px;
  font-size: 26px;
  font-weight: 600;
}
.earn-coin-card-coin-image {
  margin-top: 30px;
  width: 75px;
}
.earn-coin-card-desc {
  font-size: 18px;
  font-weight: 600;
}
.earn-coin-card-container-value {
  padding: 5px 30px;
  background-color: #f2f1f1;
  border-radius: 28px;
  margin-top: 20px;
}
.earn-coin-card-value {
  font-size: 28px;
  font-weight: 700;
  color: #fcb731;
  margin-bottom: 0px;
}
.earn-coin-card-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.earn-coin-card-img img {
  height: 200px;
}
.earn-coin-card-value-plus {
  font-size: 22px;
  font-weight: 700;
  color: #009344;
}
.tab-pane-container {
  padding: 30px 0px;
}

.load-more {
  font-size: 20px;
  font-weight: 600;
  color: #1f62ae;
}
.term-and-service {
  font-size: 16;
  text-align: center;
  margin-top: 30px;
}
.term-and-service a {
  color: #1f62ae;
}

.add1 {
  max-width: 150px;
}

.add2 {
  margin-top: 300px;
  max-width: 200px;
}
.add3 {
  max-width: 200px;
  margin-top: -100px;
}
.add4 {
  max-width: 150px;
  margin-top: 20px;
}
.group-container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.group-card {
  width: 100%;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}

/* Bnous Coin Modal */
.bonus-coin-bg {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url(../img/bg-redeem-coin-modal.png);
}
.bonus-coin-card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.bonus-coin-card p {
  margin-bottom: 0px;
}
.coin-value {
  padding: 5px 16px;
  border-radius: 28px;
  background-color: #f2f1f1;
  display: flex;
  align-items: center;
}

/* modal instant reward coin */
.coin-input-value {
  border-radius: 28px;
  background-color: #f2f1f1;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 20px;
}

/* modal credit coin */
.promo-container {
  padding: 5px;
  background-color: #dee6cc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-promo-credit-coin {
  display: inline-block;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}
.card-promo-credit-coin-active {
  border-radius: 5px;
  padding-bottom: 20px;
  box-shadow: #009344 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #009344;
}
.card-promo-credit-coin-title {
  width: 115px;
  height: 68px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-promo-credit-coin-value {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.credit-coin-container-pay {
  border-radius: 5px;
  padding-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #009344;
}
.payment-container-title {
  width: 100%;
  height: 68px;
  border-bottom-right-radius: 15px;
  background-color: #009344;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalCreditPointBuy {
  display: block;
}
#modalCreditPointPay {
  display: none;
}

/* earned */
.earned-coin-tab-active {
  border-bottom: 2px solid #231f20;
}
.earned-coin-container {
  padding: 10px;
  background-color: #f5f5f5;
  width: 100%;
  margin-top: 20px;
  overflow-y: scroll;
  height: 270px;
}
.earned-coin-item {
  align-content: center;
  margin: 10px 5px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 28px;
  display: flex;
  align-items: center;
}
.earned-value {
  width: 67px;
  border-radius: 28px;
  background-color: #f2f1f1;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
}

/* redeem modal */
.assignment-container {
  padding: 20px 10px;
  border-radius: 10px;
  border: 5px solid #fcb731;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.assignment-container button {
  background-color: #2b3135 !important;
  border-radius: 30px;
  color: #ffc83d;
  padding: 10px 30px;
  box-shadow: #ffc83d 0px 2px 8px 0px;
}
.card-reward-container {
  overflow: scroll;
  white-space: nowrap;
  width: 100%;
}
.card-reward-container::-webkit-scrollbar {
  height: 3px;
}
.card-reward-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey;
}
.card-reward {
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
  width: 280px;
}
.card-reward-small {
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
  width: 180px;
}
.card-reward img,
.card-reward-small img {
  border-radius: 10px;
  width: 100%;
}

.menuss-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  white-space: nowrap;
}
.menuss-item {
  display: inline-block;
  margin-right: 30px;
}
.redeem-coin-bg {
  background-color: #00ffe5;
  background-image: url(../img/bg-redeem-coin-modal.png);
}
@media screen and (max-width: 995px) {
  .add1 {
    max-width: 150px;
    margin: 20px;
  }

  .add2 {
    margin-top: 0px;
    max-width: 200px;
  }
  .add3 {
    max-width: 200px;
    margin: 10px;
  }
  .add4 {
    max-width: 150px;
    margin: 10px;
  }
  .earn-coin-card-coin-image {
    margin-top: 0px;
  }
  .earn-coin-card-title,
  .earn-coin-card-desc {
    margin-top: 0px;
    text-align: center;
  }
  .credit-coin-container-pay {
    margin-left: 10px;
  }

  .redeem-coin-bg {
    background-size: contain !important;
  }
}

.coin-credit-container {
  overflow: scroll;
  white-space: nowrap;
  padding-left: 10px;
}
.coin-credit-container::-webkit-scrollbar {
  height: 3px;
}
.coin-credit-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey;
}
.card-credit-item-container {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
}
