.nav-tabs {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 36px;
}
.nav-tabs li {
  height: 70px;
  width: 250px;
  border-radius: 36px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.nav-tabs .active a {
  background-color: transparent !important;
  border: 0px !important;
  color: white !important;
}
.nav-tabs .active {
  background-color: #009344;
  background-image: linear-gradient(to right, #009344, #1f62ae);
}

.nav-tabs-category li {
  width: 136px;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 760px) {
  .nav-tabs li {
    height: 50px;
    width: 150px;
    font-size: 16px;
  }
  .nav-tabs-category li {
    width: 76px;
    font-size: 10px;
    font-weight: 600;
  }
}
